@import "../../../../assets/css/styles/account-page.scss";

.listing-details {
  .account-wrapper {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      grid-gap: 20px;
      margin-bottom: 32px;

      .text {
        .title {
          color: var(--black-text);
          font-family: var(--display-font);
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: 44px;
          letter-spacing: -0.72px;
          margin-bottom: 4px;
        }

        .sub-title {
          color: var(--gray-600);
          font-family: var(--mark-font);
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }

      .buttons {
        display: flex;
        justify-content: left;
        align-items: center;
        grid-gap: 12px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #d0d5dd;

          span {
            color: var(--white);
            font-family: var(--mark-font);
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
          }

          .black {
            color: var(--black-text);
          }

          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
