<app-header></app-header>

<div class="listing-details container-desktop">
    <div class="account-wrapper">

        <div class="header">
            <div class="text">
                <div class="title">Listing summary</div>
                <div class="sub-title">Before you submit, make sure to review the details.</div>
            </div>
            <div class="buttons">
                <button [routerLink]="['/property-summary-preview']" type="button" class="ripple-button white-button">
                    Preview
                </button>

                <button type="button" (click)="submitForApproval()" class="ripple-button orange-button">
                    <div class="loader-orange" *ngIf="loading"></div>
                    <span *ngIf="!loading">Submit for review</span>
                </button>
            </div>
        </div>
        <hr>

        <div class="account-container">
            <div class="booking">
                <app-booking-right [data]="data"></app-booking-right>
            </div>

            <div class="cards">
                <app-listing-details [listingDetails]="data"></app-listing-details>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>