<div class="wrapper">
    <app-collection-tag (collection)="getApartments($event)"></app-collection-tag>

    <div *ngIf="datas.length < 1 && datas2.length < 1">
        <app-no-data-message [message]="errorMessage"></app-no-data-message>
    </div>

    <div class="card-p" [class.card-p4]="total == 4" [class.card-p3]="total == 3" [class.card-p2]="total == 2"
        [class.card-p1]="total == 1">
        <div class="cards" *ngFor="let data of datas2">
            <div class="image">
                <p-skeleton width="100%" height="176px"></p-skeleton>
                <p></p>
                <p></p>
                <div class="text">
                    <p-skeleton width="100%" borderRadius="10px" height="2rem"></p-skeleton>
                    <p></p>
                    <p-skeleton width="100%" borderRadius="10px" height="1rem"></p-skeleton>
                    <p></p>
                    <p-skeleton width="100%" borderRadius="10px" height="1rem"></p-skeleton>
                    <p></p>
                    <p-skeleton width="100%" borderRadius="10px" height="1rem"></p-skeleton>
                    <p></p>
                    <p-skeleton width="100%" borderRadius="10px" height="1rem"></p-skeleton>
                </div>
            </div>
        </div>

        <div class="cards" *ngFor="let data of datas">
            <div class="image">

                <div class="img-img" [ngStyle]="{ 'background-image': 'url(' + dafaultImage + ')' }"
                    [ngClass]="{ placeholder: true, 'placeholder-loaded': isLoadedList.includes(data?.uuid) }">
                    <img class="img" routerLink="/accommodations-details/{{ data?.uuid }}"
                        [src]="data?.pictures?.length > 0 ? data?.pictures[0]?.url : dafaultImage" loading="lazy"
                        [ngClass]="{ image: true, 'image-loaded': isLoadedList.includes(data?.uuid)}" loading="lazy"
                        (load)="onImageLoad(data?.uuid)" [alt]="" />
                </div>

                <div class="image-bottom">
                    <div class="div">
                        <div class="">
                        </div>
                        <div class="heart button" mat-icon-button *ngIf="isLogin"
                            [class.active]="newAddedWishlist.includes(data?.uuid)">
                            <div class="loader-orange" *ngIf="wishlists.includes(data?.uuid)"></div>
                            <svg (click)="addWishlist(data?.uuid)" *ngIf="!wishlists.includes(data?.uuid)" width="20"
                                height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.99462 4.27985C8.32849 2.332 5.55011 1.80804 3.46257 3.59168C1.37503 5.37532 1.08113 8.35748 2.72049 10.467C4.08351 12.2209 8.20847 15.9201 9.56041 17.1174C9.71166 17.2513 9.78729 17.3183 9.8755 17.3446C9.9525 17.3676 10.0367 17.3676 10.1137 17.3446C10.2019 17.3183 10.2776 17.2513 10.4288 17.1174C11.7808 15.9201 15.9057 12.2209 17.2687 10.467C18.9081 8.35748 18.6501 5.35656 16.5267 3.59168C14.4032 1.8268 11.6607 2.332 9.99462 4.27985Z"
                                    stroke="#EF5E17" stroke-width="1.66667" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="desc-2 truncate cursor-pointer" routerLink="/accommodations-details/{{ data?.uuid }}">{{
                    data?.title }}</div>
                <div class="price truncate">
                    <span class="truncate">{{ data?.price_per_night | currency:'NGN' }}</span>
                    <span>Night, </span><span class="truncate">{{ data?.state }}</span>
                </div>
                <div class="review truncate">
                    <p-rating [(ngModel)]="data.reviews_score" [readonly]="true" [cancel]="false"></p-rating>
                    <div class="total-review">| {{ data?.reviews_count }} reviews</div>
                </div>
            </div>
        </div>
    </div>

    <app-best-homes></app-best-homes>
    <app-list-property-background></app-list-property-background>

</div>