.ripple-button {
  display: block;
  overflow: hidden;
  border-width: 0;
  outline: none;
  transition: background-color 0.3s;
  position: relative;
  padding: 10px 18px;
  font-family: var(--mark-font);
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.orange-button {
  background: var(--orange-text);
  color: var(--base-white);
}

.white-button {
  background: var(--white);
  color: var(--gray-700);
  border: 1px solid var(--gray-300);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.ripple-button > * {
  position: relative;
}

.ripple-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ripple-button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
