.label {
  font-family: var(--mark-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  color: var(--black-text);
  margin-bottom: 6px;
}

mat-hint {
  font-family: var(--mark-font);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  color: var(--black-text);
}

// fill appearance
.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-width: 2px;
  border-bottom-color: #d0d5dd !important;
  border-radius: unset !important;
}

.mdc-text-field--filled .mdc-line-ripple::before {
  border-bottom-width: 2px;
  border-bottom-color: #d0d5dd !important;
  border-radius: unset !important;
}
// end

.mdc-text-field .mdc-text-field__input {
  caret-color: #d0d5dd; // form cursor
  font-size: 1rem !important;
}

mat-error {
  transition: all 0.5s;
  font-family: var(--mark-font);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: var(--error-700);
  letter-spacing: 0px;
}

// outline appearance
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing,
.mdc-notched-outline__leading {
  border-width: 1px !important;
  border-color: var(--gray-300) !important;
  border-radius: unset !important;

  &:focus {
    box-shadow: 0px 0px 0px 4px #fdefe8, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
  }
}

// select text
.mat-primary
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: var(--orange-text) !important;
}

.mat-mdc-select-value-text {
  color: var(--gray-900) !important;
  font-family: var(--mark-font) !important;
  font-size: 1rem !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 24px;
}

.mat-mdc-option .mdc-list-item__primary-text {
  color: var(--gray-900) !important;
  font-family: var(--mark-font) !important;
  font-size: 1rem !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 24px;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
  .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: var(--orange-text) !important;
}

// end

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0 0.5em 0;
}

.bubble-white,
.bubble-blue {
  animation: expand 0.75s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 10px;
  height: 10px;
}

.bubble-white:nth-child(1) {
  background: var(--white);
}

.bubble-white:nth-child(2) {
  animation-delay: 180ms;
  background: var(--white);
}

.bubble-white:nth-child(3) {
  animation-delay: 360ms;
  background: var(--white);
}

.bubble-white:nth-child(4) {
  animation-delay: 540ms;
  background: var(--white);
}

.bubble-blue:nth-child(1) {
  background: #d0d5dd;
}

.bubble-blue:nth-child(2) {
  animation-delay: 180ms;
  background: #d0d5dd;
}

.bubble-blue:nth-child(3) {
  animation-delay: 360ms;
  background: #d0d5dd;
}

.bubble-blue:nth-child(4) {
  animation-delay: 540ms;
  background: #d0d5dd;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.55);
  }
}

// toggle
.mat-mdc-slide-toggle .mdc-switch {
  width: 36px !important;
}

.mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
  border-radius: 12px !important;
  height: 20px !important;
}

.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
  background: var(--orange-text) !important;
}

.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::before {
  background: #f2f4f7 !important;
}

.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__shadow {
  background: var(--white) !important;
}

.mat-mdc-slide-toggle
  .mdc-switch.mdc-switch--unselected:enabled
  .mdc-switch__icon {
  display: none !important;
}

.mat-mdc-slide-toggle
  .mdc-switch.mdc-switch--selected:enabled
  .mdc-switch__icon {
  display: none !important;
}

.mdc-form-field > label {
  margin-left: 8px !important;
  color: #344054;
  font-family: var(--mark-font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

// .mat-mdc-text-field-wrapper {
//   height: 46px !important;
//   display: flex !important;
//   justify-content: center !important;
//   align-items: center !important;
// }

// check box
.mat-mdc-checkbox .mdc-checkbox__background {
  border-radius: 4px !important;
}

.mdc-checkbox
  .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
    [data-indeterminate="true"]
  )
  ~ .mdc-checkbox__background {
  border-color: var(--orange-text) !important;
  background: var(--white) !important;
}

.mdc-checkbox
  .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
    [data-indeterminate="true"]
  )
  ~ .mdc-checkbox__background:hover {
  border-color: var(--orange-text) !important;
}

.mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  border-color: var(--orange-text) !important;
  background: #fcdfd1 !important;
}

.mdc-checkbox
  .mdc-checkbox__native-control:enabled
  ~ .mdc-checkbox__background
  .mdc-checkbox__checkmark {
  color: var(--orange-text) !important;
}

// calender
.mat-mdc-raised-button.mat-primary {
  background: var(--orange-text) !important;
}

.mat-calendar-body-today.mat-calendar-body-selected {
  background: var(--orange-text) !important;
}

.mat-calendar-body-selected {
  background: var(--orange-text) !important;
}

.mat-datepicker-toggle {
  color: var(--gray-700) !important;
}

.mat-mdc-raised-button:not(:disabled) {
  background: var(--orange-text) !important;
  color: var(--white) !important;
}

.mat-mdc-select-placeholder {
  color: #667085;
  font-family: var(--mark-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
