.p-togglebutton.p-button:focus {
  background: #e0e0e1;
  border-color: #e0e0e1;
}
.p-togglebutton.p-button:focus.p-highlight {
  background: #d9d8d9;
  border-color: #d9d8d9;
}
.p-splitbutton.p-button-text > .p-button:enabled:focus,
.p-splitbutton.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):focus,
.p-splitbutton.p-button-outlined > .p-button:enabled:focus,
.p-splitbutton.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):focus {
  background: var(--primary-50);
}
.p-splitbutton.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active,
.p-splitbutton.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: var(--primary-50);
}
.p-splitbutton.p-button-outlined > .p-button {
  box-shadow: inset 0 0 0 1px;
}
.p-splitbutton.p-button-outlined > .p-button:enabled:focus {
  box-shadow: inset 0 0 0 1px;
}
.p-splitbutton.p-button-outlined > .p-button:enabled:active {
  box-shadow: inset 0 0 0 1px;
}
.p-splitbutton.p-button-outlined > .p-button.p-splitbutton-menubutton {
  margin-left: -1px;
  width: calc(3rem + 1px);
}
.p-splitbutton.p-disabled.p-button-text > .p-button {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.38) !important;
}
.p-splitbutton.p-disabled.p-button-outlined > .p-button {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.38) !important;
  border-color: rgba(0, 0, 0, 0.38) !important;
}
.p-splitbutton.p-button-raised > .p-button:enabled:focus,
.p-splitbutton.p-button-raised
  > .p-button:not(button):not(a):not(.p-disabled):focus {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.p-splitbutton.p-button-secondary.p-button-text > .p-button:enabled:focus,
.p-splitbutton.p-button-secondary.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):focus,
.p-splitbutton.p-button-secondary.p-button-outlined > .p-button:enabled:focus,
.p-splitbutton.p-button-secondary.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):focus {
  background: rgba(255, 64, 129, 0.12);
}
.p-splitbutton.p-button-secondary.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-secondary.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active,
.p-splitbutton.p-button-secondary.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-secondary.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(255, 64, 129, 0.16);
}
.p-splitbutton.p-button-info
  > .p-button.p-button-text
  > .p-button:enabled:focus,
.p-splitbutton.p-button-info
  > .p-button.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):focus,
.p-splitbutton.p-button-info
  > .p-button.p-button-outlined
  > .p-button:enabled:focus,
.p-splitbutton.p-button-info
  > .p-button.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):focus {
  background: rgba(33, 150, 243, 0.12);
}
.p-splitbutton.p-button-info
  > .p-button.p-button-text
  > .p-button:enabled:active,
.p-splitbutton.p-button-info
  > .p-button.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active,
.p-splitbutton.p-button-info
  > .p-button.p-button-outlined
  > .p-button:enabled:active,
.p-splitbutton.p-button-info
  > .p-button.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(33, 150, 243, 0.16);
}
.p-splitbutton.p-button-success.p-button-text > .p-button:enabled:focus,
.p-splitbutton.p-button-success.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):focus,
.p-splitbutton.p-button-success.p-button-outlined > .p-button:enabled:focus,
.p-splitbutton.p-button-success.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):focus {
  background: rgba(104, 159, 56, 0.12);
}
.p-splitbutton.p-button-success.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-success.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active,
.p-splitbutton.p-button-success.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-success.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(104, 159, 56, 0.16);
}
.p-splitbutton.p-button-warning.p-button-text > .p-button:enabled:focus,
.p-splitbutton.p-button-warning.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):focus,
.p-splitbutton.p-button-warning.p-button-outlined > .p-button:enabled:focus,
.p-splitbutton.p-button-warning.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):focus {
  background: rgba(251, 192, 45, 0.12);
}
.p-splitbutton.p-button-warning.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-warning.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active,
.p-splitbutton.p-button-warning.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-warning.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(251, 192, 45, 0.16);
}
.p-splitbutton.p-button-help.p-button-text > .p-button:enabled:focus,
.p-splitbutton.p-button-help.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):focus,
.p-splitbutton.p-button-help.p-button-outlined > .p-button:enabled:focus,
.p-splitbutton.p-button-help.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):focus {
  background: rgba(156, 39, 176, 0.12);
}
.p-splitbutton.p-button-help.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-help.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active,
.p-splitbutton.p-button-help.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-help.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(156, 39, 176, 0.16);
}
.p-splitbutton.p-button-danger.p-button-text > .p-button:enabled:focus,
.p-splitbutton.p-button-danger.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):focus,
.p-splitbutton.p-button-danger.p-button-outlined > .p-button:enabled:focus,
.p-splitbutton.p-button-danger.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):focus {
  background: rgba(211, 47, 47, 0.12);
}
.p-splitbutton.p-button-danger.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-danger.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active,
.p-splitbutton.p-button-danger.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-danger.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(211, 47, 47, 0.16);
}

.p-button {
  color: #fff;
  background: var(--primary-color);
  border: 0 none;
  padding: 0.714rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border-radius: 4px;
}
.p-button:enabled:hover {
  background: var(--primary-200);
  color: #fff;
  border-color: transparent;
}
.p-button:enabled:active {
  background: var(--primary-200);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-outlined {
  background-color: transparent;
  color: var(--primary-color);
  border: 0 none;
}
.p-button.p-button-outlined:enabled:hover {
  background: rgba(44, 101, 50, 0.04);
  color: var(--primary-color);
  border: 0 none;
}
.p-button.p-button-outlined:enabled:active {
  background: var(--primary-50);
  color: var(--primary-color);
  border: 0 none;
}
.p-button.p-button-outlined.p-button-plain {
  color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}
.p-button.p-button-outlined.p-button-plain:enabled:hover {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.6);
}
.p-button.p-button-outlined.p-button-plain:enabled:active {
  background: rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.6);
}
.p-button.p-button-text {
  background-color: transparent;
  color: var(--primary-color);
  border-color: transparent;
}
.p-button.p-button-text:enabled:hover {
  background: rgba(44, 101, 50, 0.04);
  color: var(--primary-color);
  border-color: transparent;
}
.p-button.p-button-text:enabled:active {
  background: var(--primary-50);
  color: var(--primary-color);
  border-color: transparent;
}
.p-button.p-button-text.p-button-plain {
  color: rgba(0, 0, 0, 0.6);
}
.p-button.p-button-text.p-button-plain:enabled:hover {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.6);
}
.p-button.p-button-text.p-button-plain:enabled:active {
  background: rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.6);
}
.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.p-button .p-button-label {
  transition-duration: 0.2s;
}
.p-button .p-button-icon-left {
  margin-right: 0.5rem;
}
.p-button .p-button-icon-right {
  margin-left: 0.5rem;
}
.p-button .p-button-icon-bottom {
  margin-top: 0.5rem;
}
.p-button .p-button-icon-top {
  margin-bottom: 0.5rem;
}
.p-button .p-badge {
  margin-left: 0.5rem;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: var(--primary-color);
  background-color: #fff;
}
.p-button.p-button-raised {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.p-button.p-button-rounded {
  border-radius: 2rem;
}
.p-button.p-button-icon-only {
  width: 3rem;
  padding: 0.714rem;
}
.p-button.p-button-icon-only .p-button-icon-left,
.p-button.p-button-icon-only .p-button-icon-right {
  margin: 0;
}
.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 3rem;
}
.p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.62475rem 0.875rem;
}
.p-button.p-button-sm .p-button-icon {
  font-size: 0.875rem;
}
.p-button.p-button-lg {
  font-size: 1.25rem;
  padding: 0.8925rem 1.25rem;
}
.p-button.p-button-lg .p-button-icon {
  font-size: 1.25rem;
}
.p-button.p-button-loading-label-only .p-button-label {
  margin-left: 0.5rem;
}
.p-button.p-button-loading-label-only .p-button-loading-icon {
  margin-right: 0;
}
.p-fluid .p-button {
  width: 100%;
}
.p-fluid .p-button-icon-only {
  width: 3rem;
}
.p-fluid .p-buttonset {
  display: flex;
}
.p-fluid .p-buttonset .p-button {
  flex: 1;
}
.p-button.p-button-secondary,
.p-buttonset.p-button-secondary > .p-button,
.p-splitbutton.p-button-secondary > .p-button {
  color: #fff;
  background: #ff4081;
  border: 0 none;
}
.p-button.p-button-secondary:enabled:hover,
.p-buttonset.p-button-secondary > .p-button:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button:enabled:hover {
  background: rgba(255, 64, 129, 0.92);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-secondary:enabled:focus,
.p-buttonset.p-button-secondary > .p-button:enabled:focus,
.p-splitbutton.p-button-secondary > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-secondary:enabled:active,
.p-buttonset.p-button-secondary > .p-button:enabled:active,
.p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: rgba(255, 64, 129, 0.68);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-secondary.p-button-outlined,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
  background-color: transparent;
  color: #ff4081;
  border: 0 none;
}
.p-button.p-button-secondary.p-button-outlined:enabled:hover,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:hover {
  background: rgba(255, 64, 129, 0.04);
  color: #ff4081;
  border: 0 none;
}
.p-button.p-button-secondary.p-button-outlined:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:active {
  background: rgba(255, 64, 129, 0.16);
  color: #ff4081;
  border: 0 none;
}
.p-button.p-button-secondary.p-button-text,
.p-buttonset.p-button-secondary > .p-button.p-button-text,
.p-splitbutton.p-button-secondary > .p-button.p-button-text {
  background-color: transparent;
  color: #ff4081;
  border-color: transparent;
}
.p-button.p-button-secondary.p-button-text:enabled:hover,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:hover {
  background: rgba(255, 64, 129, 0.04);
  border-color: transparent;
  color: #ff4081;
}
.p-button.p-button-secondary.p-button-text:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active {
  background: rgba(255, 64, 129, 0.16);
  border-color: transparent;
  color: #ff4081;
}
.p-button.p-button-info,
.p-buttonset.p-button-info > .p-button,
.p-splitbutton.p-button-info > .p-button {
  color: #fff;
  background: #2196f3;
  border: 0 none;
}
.p-button.p-button-info:enabled:hover,
.p-buttonset.p-button-info > .p-button:enabled:hover,
.p-splitbutton.p-button-info > .p-button:enabled:hover {
  background: rgba(33, 150, 243, 0.92);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-info:enabled:focus,
.p-buttonset.p-button-info > .p-button:enabled:focus,
.p-splitbutton.p-button-info > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-info:enabled:active,
.p-buttonset.p-button-info > .p-button:enabled:active,
.p-splitbutton.p-button-info > .p-button:enabled:active {
  background: rgba(33, 150, 243, 0.68);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-info.p-button-outlined,
.p-buttonset.p-button-info > .p-button.p-button-outlined,
.p-splitbutton.p-button-info > .p-button.p-button-outlined {
  background-color: transparent;
  color: #2196f3;
  border: 0 none;
}
.p-button.p-button-info.p-button-outlined:enabled:hover,
.p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:hover {
  background: rgba(33, 150, 243, 0.04);
  color: #2196f3;
  border: 0 none;
}
.p-button.p-button-info.p-button-outlined:enabled:active,
.p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:active {
  background: rgba(33, 150, 243, 0.16);
  color: #2196f3;
  border: 0 none;
}
.p-button.p-button-info.p-button-text,
.p-buttonset.p-button-info > .p-button.p-button-text,
.p-splitbutton.p-button-info > .p-button.p-button-text {
  background-color: transparent;
  color: #2196f3;
  border-color: transparent;
}
.p-button.p-button-info.p-button-text:enabled:hover,
.p-buttonset.p-button-info > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:hover {
  background: rgba(33, 150, 243, 0.04);
  border-color: transparent;
  color: #2196f3;
}
.p-button.p-button-info.p-button-text:enabled:active,
.p-buttonset.p-button-info > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:active {
  background: rgba(33, 150, 243, 0.16);
  border-color: transparent;
  color: #2196f3;
}
.p-button.p-button-success,
.p-buttonset.p-button-success > .p-button,
.p-splitbutton.p-button-success > .p-button {
  color: #fff;
  background: #689f38;
  border: 0 none;
}
.p-button.p-button-success:enabled:hover,
.p-buttonset.p-button-success > .p-button:enabled:hover,
.p-splitbutton.p-button-success > .p-button:enabled:hover {
  background: rgba(104, 159, 56, 0.92);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-success:enabled:focus,
.p-buttonset.p-button-success > .p-button:enabled:focus,
.p-splitbutton.p-button-success > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-success:enabled:active,
.p-buttonset.p-button-success > .p-button:enabled:active,
.p-splitbutton.p-button-success > .p-button:enabled:active {
  background: rgba(104, 159, 56, 0.68);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-success.p-button-outlined,
.p-buttonset.p-button-success > .p-button.p-button-outlined,
.p-splitbutton.p-button-success > .p-button.p-button-outlined {
  background-color: transparent;
  color: #689f38;
  border: 0 none;
}
.p-button.p-button-success.p-button-outlined:enabled:hover,
.p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:hover {
  background: rgba(104, 159, 56, 0.04);
  color: #689f38;
  border: 0 none;
}
.p-button.p-button-success.p-button-outlined:enabled:active,
.p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:active {
  background: rgba(104, 159, 56, 0.16);
  color: #689f38;
  border: 0 none;
}
.p-button.p-button-success.p-button-text,
.p-buttonset.p-button-success > .p-button.p-button-text,
.p-splitbutton.p-button-success > .p-button.p-button-text {
  background-color: transparent;
  color: #689f38;
  border-color: transparent;
}
.p-button.p-button-success.p-button-text:enabled:hover,
.p-buttonset.p-button-success > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:hover {
  background: rgba(104, 159, 56, 0.04);
  border-color: transparent;
  color: #689f38;
}
.p-button.p-button-success.p-button-text:enabled:active,
.p-buttonset.p-button-success > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:active {
  background: rgba(104, 159, 56, 0.16);
  border-color: transparent;
  color: #689f38;
}
.p-button.p-button-warning,
.p-buttonset.p-button-warning > .p-button,
.p-splitbutton.p-button-warning > .p-button {
  color: #212529;
  background: #fbc02d;
  border: 0 none;
}
.p-button.p-button-warning:enabled:hover,
.p-buttonset.p-button-warning > .p-button:enabled:hover,
.p-splitbutton.p-button-warning > .p-button:enabled:hover {
  background: rgba(251, 192, 45, 0.92);
  color: #212529;
  border-color: transparent;
}
.p-button.p-button-warning:enabled:focus,
.p-buttonset.p-button-warning > .p-button:enabled:focus,
.p-splitbutton.p-button-warning > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-warning:enabled:active,
.p-buttonset.p-button-warning > .p-button:enabled:active,
.p-splitbutton.p-button-warning > .p-button:enabled:active {
  background: rgba(251, 192, 45, 0.68);
  color: #212529;
  border-color: transparent;
}
.p-button.p-button-warning.p-button-outlined,
.p-buttonset.p-button-warning > .p-button.p-button-outlined,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined {
  background-color: transparent;
  color: #fbc02d;
  border: 0 none;
}
.p-button.p-button-warning.p-button-outlined:enabled:hover,
.p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:hover {
  background: rgba(251, 192, 45, 0.04);
  color: #fbc02d;
  border: 0 none;
}
.p-button.p-button-warning.p-button-outlined:enabled:active,
.p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:active {
  background: rgba(251, 192, 45, 0.16);
  color: #fbc02d;
  border: 0 none;
}
.p-button.p-button-warning.p-button-text,
.p-buttonset.p-button-warning > .p-button.p-button-text,
.p-splitbutton.p-button-warning > .p-button.p-button-text {
  background-color: transparent;
  color: #fbc02d;
  border-color: transparent;
}
.p-button.p-button-warning.p-button-text:enabled:hover,
.p-buttonset.p-button-warning > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:hover {
  background: rgba(251, 192, 45, 0.04);
  border-color: transparent;
  color: #fbc02d;
}
.p-button.p-button-warning.p-button-text:enabled:active,
.p-buttonset.p-button-warning > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:active {
  background: rgba(251, 192, 45, 0.16);
  border-color: transparent;
  color: #fbc02d;
}
.p-button.p-button-help,
.p-buttonset.p-button-help > .p-button,
.p-splitbutton.p-button-help > .p-button {
  color: #fff;
  background: #9c27b0;
  border: 0 none;
}
.p-button.p-button-help:enabled:hover,
.p-buttonset.p-button-help > .p-button:enabled:hover,
.p-splitbutton.p-button-help > .p-button:enabled:hover {
  background: rgba(156, 39, 176, 0.92);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-help:enabled:focus,
.p-buttonset.p-button-help > .p-button:enabled:focus,
.p-splitbutton.p-button-help > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-help:enabled:active,
.p-buttonset.p-button-help > .p-button:enabled:active,
.p-splitbutton.p-button-help > .p-button:enabled:active {
  background: rgba(156, 39, 176, 0.68);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-help.p-button-outlined,
.p-buttonset.p-button-help > .p-button.p-button-outlined,
.p-splitbutton.p-button-help > .p-button.p-button-outlined {
  background-color: transparent;
  color: #9c27b0;
  border: 0 none;
}
.p-button.p-button-help.p-button-outlined:enabled:hover,
.p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:hover {
  background: rgba(156, 39, 176, 0.04);
  color: #9c27b0;
  border: 0 none;
}
.p-button.p-button-help.p-button-outlined:enabled:active,
.p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:active {
  background: rgba(156, 39, 176, 0.16);
  color: #9c27b0;
  border: 0 none;
}
.p-button.p-button-help.p-button-text,
.p-buttonset.p-button-help > .p-button.p-button-text,
.p-splitbutton.p-button-help > .p-button.p-button-text {
  background-color: transparent;
  color: #9c27b0;
  border-color: transparent;
}
.p-button.p-button-help.p-button-text:enabled:hover,
.p-buttonset.p-button-help > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-help > .p-button.p-button-text:enabled:hover {
  background: rgba(156, 39, 176, 0.04);
  border-color: transparent;
  color: #9c27b0;
}
.p-button.p-button-help.p-button-text:enabled:active,
.p-buttonset.p-button-help > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-help > .p-button.p-button-text:enabled:active {
  background: rgba(156, 39, 176, 0.16);
  border-color: transparent;
  color: #9c27b0;
}
.p-button.p-button-danger,
.p-buttonset.p-button-danger > .p-button,
.p-splitbutton.p-button-danger > .p-button {
  color: #fff;
  background: #d32f2f;
  border: 0 none;
}
.p-button.p-button-danger:enabled:hover,
.p-buttonset.p-button-danger > .p-button:enabled:hover,
.p-splitbutton.p-button-danger > .p-button:enabled:hover {
  background: rgba(211, 47, 47, 0.92);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-danger:enabled:focus,
.p-buttonset.p-button-danger > .p-button:enabled:focus,
.p-splitbutton.p-button-danger > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-danger:enabled:active,
.p-buttonset.p-button-danger > .p-button:enabled:active,
.p-splitbutton.p-button-danger > .p-button:enabled:active {
  background: rgba(211, 47, 47, 0.68);
  color: #fff;
  border-color: transparent;
}
.p-button.p-button-danger.p-button-outlined,
.p-buttonset.p-button-danger > .p-button.p-button-outlined,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined {
  background-color: transparent;
  color: #d32f2f;
  border: 0 none;
}
.p-button.p-button-danger.p-button-outlined:enabled:hover,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:hover {
  background: rgba(211, 47, 47, 0.04);
  color: #d32f2f;
  border: 0 none;
}
.p-button.p-button-danger.p-button-outlined:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:active {
  background: rgba(211, 47, 47, 0.16);
  color: #d32f2f;
  border: 0 none;
}
.p-button.p-button-danger.p-button-text,
.p-buttonset.p-button-danger > .p-button.p-button-text,
.p-splitbutton.p-button-danger > .p-button.p-button-text {
  background-color: transparent;
  color: #d32f2f;
  border-color: transparent;
}
.p-button.p-button-danger.p-button-text:enabled:hover,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:hover {
  background: rgba(211, 47, 47, 0.04);
  border-color: transparent;
  color: #d32f2f;
}
.p-button.p-button-danger.p-button-text:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active {
  background: rgba(211, 47, 47, 0.16);
  border-color: transparent;
  color: #d32f2f;
}
.p-button.p-button-link {
  color: var(--primary-color);
  background: transparent;
  border: transparent;
}
.p-button.p-button-link:enabled:hover {
  background: transparent;
  color: var(--primary-color);
  border-color: transparent;
}
.p-button.p-button-link:enabled:hover .p-button-label {
  text-decoration: underline;
}
.p-button.p-button-link:enabled:focus {
  background: transparent;
  box-shadow: none;
  border-color: transparent;
}
.p-button.p-button-link:enabled:active {
  background: transparent;
  color: var(--primary-color);
  border-color: transparent;
}
.p-speeddial-button.p-button.p-button-icon-only {
  width: 4rem;
  height: 4rem;
}
.p-speeddial-button.p-button.p-button-icon-only .p-button-icon {
  font-size: 2rem;
}
.p-speeddial-button.p-button.p-button-icon-only .p-icon {
  width: 2rem;
  height: 2rem;
}
.p-speeddial-action {
  width: 3rem;
  height: 3rem;
  background: #ff4081;
  color: #fff;
}
.p-speeddial-action:hover {
  background: rgba(255, 64, 129, 0.92);
  color: #fff;
}
.p-speeddial-direction-up .p-speeddial-item {
  margin: 0.25rem 0;
}
.p-speeddial-direction-up .p-speeddial-item:first-child {
  margin-bottom: 0.5rem;
}
.p-speeddial-direction-down .p-speeddial-item {
  margin: 0.25rem 0;
}
.p-speeddial-direction-down .p-speeddial-item:first-child {
  margin-top: 0.5rem;
}
.p-speeddial-direction-left .p-speeddial-item {
  margin: 0 0.25rem;
}
.p-speeddial-direction-left .p-speeddial-item:first-child {
  margin-right: 0.5rem;
}
.p-speeddial-direction-right .p-speeddial-item {
  margin: 0 0.25rem;
}
.p-speeddial-direction-right .p-speeddial-item:first-child {
  margin-left: 0.5rem;
}
.p-speeddial-circle .p-speeddial-item,
.p-speeddial-semi-circle .p-speeddial-item,
.p-speeddial-quarter-circle .p-speeddial-item {
  margin: 0;
}
.p-speeddial-circle .p-speeddial-item:first-child,
.p-speeddial-circle .p-speeddial-item:last-child,
.p-speeddial-semi-circle .p-speeddial-item:first-child,
.p-speeddial-semi-circle .p-speeddial-item:last-child,
.p-speeddial-quarter-circle .p-speeddial-item:first-child,
.p-speeddial-quarter-circle .p-speeddial-item:last-child {
  margin: 0;
}
.p-speeddial-mask {
  background-color: rgba(0, 0, 0, 0.32);
}
.p-splitbutton {
  border-radius: 4px;
}
.p-splitbutton.p-button-outlined > .p-button {
  background-color: transparent;
  color: var(--primary-color);
  border: 0 none;
}
.p-splitbutton.p-button-outlined > .p-button:enabled:hover,
.p-splitbutton.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(44, 101, 50, 0.04);
  color: var(--primary-color);
}
.p-splitbutton.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: var(--primary-50);
  color: var(--primary-color);
}
.p-splitbutton.p-button-outlined.p-button-plain > .p-button {
  color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}
.p-splitbutton.p-button-outlined.p-button-plain > .p-button:enabled:hover,
.p-splitbutton.p-button-outlined.p-button-plain
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.6);
}
.p-splitbutton.p-button-outlined.p-button-plain > .p-button:enabled:active,
.p-splitbutton.p-button-outlined.p-button-plain
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.6);
}
.p-splitbutton.p-button-text > .p-button {
  background-color: transparent;
  color: var(--primary-color);
  border-color: transparent;
}
.p-splitbutton.p-button-text > .p-button:enabled:hover,
.p-splitbutton.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(44, 101, 50, 0.04);
  color: var(--primary-color);
  border-color: transparent;
}
.p-splitbutton.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: var(--primary-50);
  color: var(--primary-color);
  border-color: transparent;
}
.p-splitbutton.p-button-text.p-button-plain > .p-button {
  color: rgba(0, 0, 0, 0.6);
}
.p-splitbutton.p-button-text.p-button-plain > .p-button:enabled:hover,
.p-splitbutton.p-button-text.p-button-plain
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.6);
}
.p-splitbutton.p-button-text.p-button-plain > .p-button:enabled:active,
.p-splitbutton.p-button-text.p-button-plain
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.6);
}
.p-splitbutton.p-button-raised {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.p-splitbutton.p-button-rounded {
  border-radius: 2rem;
}
.p-splitbutton.p-button-rounded > .p-button {
  border-radius: 2rem;
}
.p-splitbutton.p-button-sm > .p-button {
  font-size: 0.875rem;
  padding: 0.62475rem 0.875rem;
}
.p-splitbutton.p-button-sm > .p-button .p-button-icon {
  font-size: 0.875rem;
}
.p-splitbutton.p-button-lg > .p-button {
  font-size: 1.25rem;
  padding: 0.8925rem 1.25rem;
}
.p-splitbutton.p-button-lg > .p-button .p-button-icon {
  font-size: 1.25rem;
}
.p-splitbutton.p-button-secondary.p-button-outlined > .p-button {
  background-color: transparent;
  color: #ff4081;
  border: 0 none;
}
.p-splitbutton.p-button-secondary.p-button-outlined > .p-button:enabled:hover,
.p-splitbutton.p-button-secondary.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(255, 64, 129, 0.04);
  color: #ff4081;
}
.p-splitbutton.p-button-secondary.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-secondary.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(255, 64, 129, 0.16);
  color: #ff4081;
}
.p-splitbutton.p-button-secondary.p-button-text > .p-button {
  background-color: transparent;
  color: #ff4081;
  border-color: transparent;
}
.p-splitbutton.p-button-secondary.p-button-text > .p-button:enabled:hover,
.p-splitbutton.p-button-secondary.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(255, 64, 129, 0.04);
  border-color: transparent;
  color: #ff4081;
}
.p-splitbutton.p-button-secondary.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-secondary.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(255, 64, 129, 0.16);
  border-color: transparent;
  color: #ff4081;
}
.p-splitbutton.p-button-info.p-button-outlined > .p-button {
  background-color: transparent;
  color: #2196f3;
  border: 0 none;
}
.p-splitbutton.p-button-info.p-button-outlined > .p-button:enabled:hover,
.p-splitbutton.p-button-info.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(33, 150, 243, 0.04);
  color: #2196f3;
}
.p-splitbutton.p-button-info.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-info.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(33, 150, 243, 0.16);
  color: #2196f3;
}
.p-splitbutton.p-button-info.p-button-text > .p-button {
  background-color: transparent;
  color: #2196f3;
  border-color: transparent;
}
.p-splitbutton.p-button-info.p-button-text > .p-button:enabled:hover,
.p-splitbutton.p-button-info.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(33, 150, 243, 0.04);
  border-color: transparent;
  color: #2196f3;
}
.p-splitbutton.p-button-info.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-info.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(33, 150, 243, 0.16);
  border-color: transparent;
  color: #2196f3;
}
.p-splitbutton.p-button-success.p-button-outlined > .p-button {
  background-color: transparent;
  color: #689f38;
  border: 0 none;
}
.p-splitbutton.p-button-success.p-button-outlined > .p-button:enabled:hover,
.p-splitbutton.p-button-success.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(104, 159, 56, 0.04);
  color: #689f38;
}
.p-splitbutton.p-button-success.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-success.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(104, 159, 56, 0.16);
  color: #689f38;
}
.p-splitbutton.p-button-success.p-button-text > .p-button {
  background-color: transparent;
  color: #689f38;
  border-color: transparent;
}
.p-splitbutton.p-button-success.p-button-text > .p-button:enabled:hover,
.p-splitbutton.p-button-success.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(104, 159, 56, 0.04);
  border-color: transparent;
  color: #689f38;
}
.p-splitbutton.p-button-success.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-success.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(104, 159, 56, 0.16);
  border-color: transparent;
  color: #689f38;
}
.p-splitbutton.p-button-warning.p-button-outlined > .p-button {
  background-color: transparent;
  color: #fbc02d;
  border: 0 none;
}
.p-splitbutton.p-button-warning.p-button-outlined > .p-button:enabled:hover,
.p-splitbutton.p-button-warning.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(251, 192, 45, 0.04);
  color: #fbc02d;
}
.p-splitbutton.p-button-warning.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-warning.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(251, 192, 45, 0.16);
  color: #fbc02d;
}
.p-splitbutton.p-button-warning.p-button-text > .p-button {
  background-color: transparent;
  color: #fbc02d;
  border-color: transparent;
}
.p-splitbutton.p-button-warning.p-button-text > .p-button:enabled:hover,
.p-splitbutton.p-button-warning.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(251, 192, 45, 0.04);
  border-color: transparent;
  color: #fbc02d;
}
.p-splitbutton.p-button-warning.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-warning.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(251, 192, 45, 0.16);
  border-color: transparent;
  color: #fbc02d;
}
.p-splitbutton.p-button-help.p-button-outlined > .p-button {
  background-color: transparent;
  color: #9c27b0;
  border: 0 none;
}
.p-splitbutton.p-button-help.p-button-outlined > .p-button:enabled:hover,
.p-splitbutton.p-button-help.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(156, 39, 176, 0.04);
  color: #9c27b0;
}
.p-splitbutton.p-button-help.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-help.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(156, 39, 176, 0.16);
  color: #9c27b0;
}
.p-splitbutton.p-button-help.p-button-text > .p-button {
  background-color: transparent;
  color: #9c27b0;
  border-color: transparent;
}
.p-splitbutton.p-button-help.p-button-text > .p-button:enabled:hover,
.p-splitbutton.p-button-help.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(156, 39, 176, 0.04);
  border-color: transparent;
  color: #9c27b0;
}
.p-splitbutton.p-button-help.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-help.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(156, 39, 176, 0.16);
  border-color: transparent;
  color: #9c27b0;
}
.p-splitbutton.p-button-danger.p-button-outlined > .p-button {
  background-color: transparent;
  color: #d32f2f;
  border: 0 none;
}
.p-splitbutton.p-button-danger.p-button-outlined > .p-button:enabled:hover,
.p-splitbutton.p-button-danger.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(211, 47, 47, 0.04);
  color: #d32f2f;
}
.p-splitbutton.p-button-danger.p-button-outlined > .p-button:enabled:active,
.p-splitbutton.p-button-danger.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(211, 47, 47, 0.16);
  color: #d32f2f;
}
.p-splitbutton.p-button-danger.p-button-text > .p-button {
  background-color: transparent;
  color: #d32f2f;
  border-color: transparent;
}
.p-splitbutton.p-button-danger.p-button-text > .p-button:enabled:hover,
.p-splitbutton.p-button-danger.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(211, 47, 47, 0.04);
  border-color: transparent;
  color: #d32f2f;
}
.p-splitbutton.p-button-danger.p-button-text > .p-button:enabled:active,
.p-splitbutton.p-button-danger.p-button-text
  > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(211, 47, 47, 0.16);
  border-color: transparent;
  color: #d32f2f;
}

.p-button {
  font-weight: 500;
  min-width: 4rem;
}
.p-button.p-button-icon-only {
  min-width: auto;
}
.p-button:enabled:focus {
  background: rgba(44, 101, 50, 0.76);
}
.p-button:enabled:active {
  background: var(--primary-200);
}
.p-button .p-ink {
  background-color: rgba(255, 255, 255, 0.32);
}
.p-button.p-button-text:enabled:focus,
.p-button.p-button-outlined:enabled:focus {
  background: var(--primary-100);
}
.p-button.p-button-text:enabled:active,
.p-button.p-button-outlined:enabled:active {
  background: var(--primary-50);
}
.p-button.p-button-text .p-ink,
.p-button.p-button-outlined .p-ink {
  background-color: var(--primary-50);
}
.p-button.p-button-outlined {
  box-shadow: inset 0 0 0 1px;
}
.p-button.p-button-outlined:enabled:focus {
  box-shadow: inset 0 0 0 1px;
}
.p-button.p-button-outlined:enabled:active {
  box-shadow: inset 0 0 0 1px;
}
.p-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.38) !important;
  opacity: 1;
}
.p-button:disabled.p-button-text {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.38) !important;
}
.p-button:disabled.p-button-outlined {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.38) !important;
  border-color: rgba(0, 0, 0, 0.38) !important;
}
.p-button.p-button-raised:enabled:focus {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.p-button.p-button-secondary:enabled:focus,
.p-buttonset.p-button-secondary > .p-button:enabled:focus,
.p-splitbutton.p-button-secondary > .p-button:enabled:focus {
  background: rgba(255, 64, 129, 0.76);
}
.p-button.p-button-secondary:enabled:active,
.p-buttonset.p-button-secondary > .p-button:enabled:active,
.p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: rgba(255, 64, 129, 0.68);
}
.p-button.p-button-secondary.p-button-text:enabled:focus,
.p-button.p-button-secondary.p-button-outlined:enabled:focus,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:focus,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:focus,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:focus,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:focus {
  background: rgba(255, 64, 129, 0.12);
}
.p-button.p-button-secondary.p-button-text:enabled:active,
.p-button.p-button-secondary.p-button-outlined:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:active {
  background: rgba(255, 64, 129, 0.16);
}
.p-button.p-button-secondary.p-button-text .p-ink,
.p-button.p-button-secondary.p-button-outlined .p-ink,
.p-buttonset.p-button-secondary > .p-button.p-button-text .p-ink,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined .p-ink,
.p-splitbutton.p-button-secondary > .p-button.p-button-text .p-ink,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined .p-ink {
  background-color: rgba(255, 64, 129, 0.16);
}
.p-button.p-button-info:enabled:focus,
.p-buttonset.p-button-info > .p-button:enabled:focus,
.p-splitbutton.p-button-info > .p-button:enabled:focus {
  background: rgba(33, 150, 243, 0.76);
}
.p-button.p-button-info:enabled:active,
.p-buttonset.p-button-info > .p-button:enabled:active,
.p-splitbutton.p-button-info > .p-button:enabled:active {
  background: rgba(33, 150, 243, 0.68);
}
.p-button.p-button-info.p-button-text:enabled:focus,
.p-button.p-button-info.p-button-outlined:enabled:focus,
.p-buttonset.p-button-info > .p-button.p-button-text:enabled:focus,
.p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:focus,
.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:focus,
.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:focus {
  background: rgba(33, 150, 243, 0.12);
}
.p-button.p-button-info.p-button-text:enabled:active,
.p-button.p-button-info.p-button-outlined:enabled:active,
.p-buttonset.p-button-info > .p-button.p-button-text:enabled:active,
.p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:active {
  background: rgba(33, 150, 243, 0.16);
}
.p-button.p-button-info.p-button-text .p-ink,
.p-button.p-button-info.p-button-outlined .p-ink,
.p-buttonset.p-button-info > .p-button.p-button-text .p-ink,
.p-buttonset.p-button-info > .p-button.p-button-outlined .p-ink,
.p-splitbutton.p-button-info > .p-button.p-button-text .p-ink,
.p-splitbutton.p-button-info > .p-button.p-button-outlined .p-ink {
  background-color: rgba(33, 150, 243, 0.16);
}
.p-button.p-button-success:enabled:focus,
.p-buttonset.p-button-success > .p-button:enabled:focus,
.p-splitbutton.p-button-success > .p-button:enabled:focus {
  background: rgba(104, 159, 56, 0.76);
}
.p-button.p-button-success:enabled:active,
.p-buttonset.p-button-success > .p-button:enabled:active,
.p-splitbutton.p-button-success > .p-button:enabled:active {
  background: rgba(104, 159, 56, 0.68);
}
.p-button.p-button-success.p-button-text:enabled:focus,
.p-button.p-button-success.p-button-outlined:enabled:focus,
.p-buttonset.p-button-success > .p-button.p-button-text:enabled:focus,
.p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:focus,
.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:focus,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:focus {
  background: rgba(104, 159, 56, 0.12);
}
.p-button.p-button-success.p-button-text:enabled:active,
.p-button.p-button-success.p-button-outlined:enabled:active,
.p-buttonset.p-button-success > .p-button.p-button-text:enabled:active,
.p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:active {
  background: rgba(104, 159, 56, 0.16);
}
.p-button.p-button-success.p-button-text .p-ink,
.p-button.p-button-success.p-button-outlined .p-ink,
.p-buttonset.p-button-success > .p-button.p-button-text .p-ink,
.p-buttonset.p-button-success > .p-button.p-button-outlined .p-ink,
.p-splitbutton.p-button-success > .p-button.p-button-text .p-ink,
.p-splitbutton.p-button-success > .p-button.p-button-outlined .p-ink {
  background-color: rgba(104, 159, 56, 0.16);
}
.p-button.p-button-warning:enabled:focus,
.p-buttonset.p-button-warning > .p-button:enabled:focus,
.p-splitbutton.p-button-warning > .p-button:enabled:focus {
  background: rgba(251, 192, 45, 0.76);
}
.p-button.p-button-warning:enabled:active,
.p-buttonset.p-button-warning > .p-button:enabled:active,
.p-splitbutton.p-button-warning > .p-button:enabled:active {
  background: rgba(251, 192, 45, 0.68);
}
.p-button.p-button-warning.p-button-text:enabled:focus,
.p-button.p-button-warning.p-button-outlined:enabled:focus,
.p-buttonset.p-button-warning > .p-button.p-button-text:enabled:focus,
.p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:focus,
.p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:focus,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:focus {
  background: rgba(251, 192, 45, 0.12);
}
.p-button.p-button-warning.p-button-text:enabled:active,
.p-button.p-button-warning.p-button-outlined:enabled:active,
.p-buttonset.p-button-warning > .p-button.p-button-text:enabled:active,
.p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:active {
  background: rgba(251, 192, 45, 0.16);
}
.p-button.p-button-warning.p-button-text .p-ink,
.p-button.p-button-warning.p-button-outlined .p-ink,
.p-buttonset.p-button-warning > .p-button.p-button-text .p-ink,
.p-buttonset.p-button-warning > .p-button.p-button-outlined .p-ink,
.p-splitbutton.p-button-warning > .p-button.p-button-text .p-ink,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined .p-ink {
  background-color: rgba(251, 192, 45, 0.16);
}
.p-button.p-button-help:enabled:focus,
.p-buttonset.p-button-help > .p-button:enabled:focus,
.p-splitbutton.p-button-help > .p-button:enabled:focus {
  background: rgba(156, 39, 176, 0.76);
}
.p-button.p-button-help:enabled:active,
.p-buttonset.p-button-help > .p-button:enabled:active,
.p-splitbutton.p-button-help > .p-button:enabled:active {
  background: rgba(156, 39, 176, 0.68);
}
.p-button.p-button-help.p-button-text:enabled:focus,
.p-button.p-button-help.p-button-outlined:enabled:focus,
.p-buttonset.p-button-help > .p-button.p-button-text:enabled:focus,
.p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:focus,
.p-splitbutton.p-button-help > .p-button.p-button-text:enabled:focus,
.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:focus {
  background: rgba(156, 39, 176, 0.12);
}
.p-button.p-button-help.p-button-text:enabled:active,
.p-button.p-button-help.p-button-outlined:enabled:active,
.p-buttonset.p-button-help > .p-button.p-button-text:enabled:active,
.p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-help > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:active {
  background: rgba(156, 39, 176, 0.16);
}
.p-button.p-button-help.p-button-text .p-ink,
.p-button.p-button-help.p-button-outlined .p-ink,
.p-buttonset.p-button-help > .p-button.p-button-text .p-ink,
.p-buttonset.p-button-help > .p-button.p-button-outlined .p-ink,
.p-splitbutton.p-button-help > .p-button.p-button-text .p-ink,
.p-splitbutton.p-button-help > .p-button.p-button-outlined .p-ink {
  background-color: rgba(156, 39, 176, 0.16);
}
.p-button.p-button-danger:enabled:focus,
.p-buttonset.p-button-danger > .p-button:enabled:focus,
.p-splitbutton.p-button-danger > .p-button:enabled:focus {
  background: rgba(211, 47, 47, 0.76);
}
.p-button.p-button-danger:enabled:active,
.p-buttonset.p-button-danger > .p-button:enabled:active,
.p-splitbutton.p-button-danger > .p-button:enabled:active {
  background: rgba(211, 47, 47, 0.68);
}
.p-button.p-button-danger.p-button-text:enabled:focus,
.p-button.p-button-danger.p-button-outlined:enabled:focus,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:focus,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:focus,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:focus,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:focus {
  background: rgba(211, 47, 47, 0.12);
}
.p-button.p-button-danger.p-button-text:enabled:active,
.p-button.p-button-danger.p-button-outlined:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:active {
  background: rgba(211, 47, 47, 0.16);
}
.p-button.p-button-danger.p-button-text .p-ink,
.p-button.p-button-danger.p-button-outlined .p-ink,
.p-buttonset.p-button-danger > .p-button.p-button-text .p-ink,
.p-buttonset.p-button-danger > .p-button.p-button-outlined .p-ink,
.p-splitbutton.p-button-danger > .p-button.p-button-text .p-ink,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined .p-ink {
  background-color: rgba(211, 47, 47, 0.16);
}
