.p-dropdown {
  background: var(--white);
  border-radius: unset;
  box-shadow: unset;
  border: 1px solid #d0d5dd !important;
  display: flex;
  justify-content: left;
  align-items: center;
}
.p-inputtext:enabled:focus {
  border-color: #d0d5dd !important;
  border: 1px solid #d0d5dd !important;
  box-shadow: unset;
  outline: none;
}

.p-inputtext:focus {
  border-color: #f48e5d !important;
  border: 1px solid #f48e5d !important;
  background: var(--white);
  box-shadow: 0px 0px 0px 4px #fdefe8, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

::ng-deep .p-dropdown .p-dropdown-label {
  height: 44px;
  display: flex !important;
  justify-content: left !important;
  align-items: center !important;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  color: #667085;
  font-family: var(--mark-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  line-height: normal;
  display: flex;
  justify-content: left;
  align-items: center;
  border: unset;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  color: var(--black-text);
  font-family: var(--mark-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  line-height: normal;
  display: flex !important;
  justify-content: left !important;
  align-items: center !important;
}

.p-dropdown .p-inputtext {
  color: var(--black-text);
  font-family: var(--mark-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  line-height: normal;
  display: flex;
  justify-content: left;
  align-items: center;
  border-color: unset;
  border: unset;
  box-shadow: unset;
  outline: none;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: var(--white);
  color: var(--orange-text);
}

.p-dropdown-panel .p-dropdown-header {
  padding: 0.75rem 1.25rem;
  background: var(--white);
  color: var(--black-text);
  font-family: var(--mark-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.p-dropdown-panel {
  padding: unset;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
  right: 0.75rem;
  color: #667085;
  display: flex;
  justify-content: right;
  align-items: center;
}

.p-dropdown-clear-icon {
  color: #667085;
  display: none;
}

.p-dropdown-items-wrapper {
  background: var(--white);
}
