.table-container {
  .p-datatable .p-datatable-header {
    background: var(--gray-50);
    padding: unset;
    border: unset;
  }

  .p-datatable .p-datatable-thead > tr > th {
    border-top: 1px solid var(--gray-200);
    border-bottom: 1px solid var(--gray-200);
    background: var(--gray-50);
  }

  tr th {
    height: 76px;
    text-transform: capitalize !important;
    font-family: var(--mark-font);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0px;
    color: var(--gray-600);
    white-space: nowrap;
  }

  .p-datatable .p-datatable-tbody > tr:hover {
    td:first-child {
      border-left: 1px solid var(--error-50);
    }

    td:last-child {
      border-right: 1px solid var(--error-50);
    }

    td {
      border-top: 1px solid var(--error-50);
      border-bottom: 1px solid var(--error-50);
    }
  }

  tr td {
    text-transform: capitalize !important;
    white-space: nowrap;
    font-family: var(--mark-font);
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0px;
    color: var(--gray-600);

    div:nth-child(1) {
      color: var(--gray-900);
      font-weight: 700;
    }

    .sub-td {
      color: var(--gray-600);
      display: flex;
      justify-content: left;
      align-items: center;
      grid-gap: 10px;
    }

    .pending {
      padding: 2px, 8px;
      background: var(--gray-100);
      color: var(--gray-700);
      font-family: var(--mark-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      text-transform: capitalize !important;
    }

    .success {
      padding: 2px, 8px;
      background: var(--success-50);
      color: var(--success-700);
      font-family: var(--mark-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      text-transform: capitalize !important;
    }

    .decline {
      padding: 2px, 8px;
      background: var(--gray-100);
      color: var(--error-700);
      font-family: var(--mark-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      text-transform: capitalize !important;
    }

    .view-text {
      color: var(--primary-700);
      font-family: var(--mark-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
    }

    .delete-text {
      color: var(--gray-600);
      font-family: var(--mark-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
    }
  }

  .p-component-overlay {
    background-color: rgba(239, 94, 23, 0.1);
  }

  .p-datatable .p-datatable-loading-icon {
    width: 2rem;
    height: 2rem;
    color: var(--orange-text);
  }

  ::-webkit-scrollbar {
    height: 10px;
  }
}
