<div class="wrapper">
    <div class="title">Please click on continue to verify your account</div>

    <form class="form" novalidate [formGroup]="feedbackForm" #fform="ngForm">

        <!-- <div class="form-field">
            <div class="label">Identification Type</div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-select matInput formControlName="document" placeholder="Select document type">
                    <mat-option [value]="d?.value" *ngFor="let d of documents">{{ d?.document }}</mat-option>
                </mat-select>
                <mat-error>{{formErrors.document}}</mat-error>
            </mat-form-field>
        </div>

        <input class="input" type="file" corpImgUpload (fileDropped)="fileBrowseHandler($event)" #fileDropRef
            id="fileDropRef" (change)="fileBrowseHandler($event)" accept="image/png, image/jpeg" />

        <div class="drag-drop cursor-pointer" (click)="fileDropRef.click()">
            <div><img class="img" src="assets/icons/upload.svg" alt="" /></div>
            <div>
                <span>Click to upload</span>
            </div>
            <div>PNG, JPG</div>
        </div>

        <div class="files-list">
            <img *ngIf="file" class="img" style="height: 10rem; width: 100%;" [src]="image" loading="eager" alt="img">

            <div class="single-file">

                <div class="file-icon" style="width: 50px">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" fill="#FACFB9" />
                        <path
                            d="M17.3307 9.51167V12.2654C17.3307 12.6387 17.3307 12.8254 17.4034 12.968C17.4673 13.0935 17.5693 13.1955 17.6947 13.2594C17.8373 13.332 18.024 13.332 18.3974 13.332H21.1511M21.3307 14.6575V19.4654C21.3307 20.5855 21.3307 21.1455 21.1127 21.5733C20.921 21.9497 20.615 22.2556 20.2387 22.4474C19.8109 22.6654 19.2508 22.6654 18.1307 22.6654H13.8641C12.744 22.6654 12.1839 22.6654 11.7561 22.4474C11.3798 22.2556 11.0738 21.9497 10.882 21.5733C10.6641 21.1455 10.6641 20.5855 10.6641 19.4654V12.532C10.6641 11.4119 10.6641 10.8519 10.882 10.4241C11.0738 10.0477 11.3798 9.74176 11.7561 9.55002C12.1839 9.33203 12.744 9.33203 13.8641 9.33203H16.0052C16.4944 9.33203 16.739 9.33203 16.9692 9.38729C17.1733 9.43628 17.3684 9.51709 17.5473 9.62675C17.7491 9.75043 17.9221 9.92339 18.268 10.2693L20.3935 12.3948C20.7394 12.7407 20.9123 12.9136 21.036 13.1155C21.1457 13.2944 21.2265 13.4895 21.2755 13.6936C21.3307 13.9237 21.3307 14.1683 21.3307 14.6575Z"
                            stroke="#EF5E17" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="info">
                    <h4 class="name">
                        {{ file?.name || 'No file chosen' }}
                    </h4>
                    <p class="size">
                        {{ formatBytes(file?.size || 0) }}
                    </p>
                </div>

                <div class="delete" (click)="deleteFile()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                        <path fill="#B1B1B1" fill-rule="nonzero"
                            d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                    </svg>
                </div>
            </div>
        </div> -->

        <div class="submit-p">
            <button type="submit" class="submit ripple-button" (click)="submit()">
                <span *ngIf="!loading">Continue</span>
                <div *ngIf="loading" class="loader-white"></div>
            </button>
        </div>

    </form>



</div>