<div class="best-homes">
    <div class="best-home-text">Discover the perfect stay for you</div>
    <div class="best-home-body">At V-Hospitality, we strive for excellence in everything we do by offering vetted and curated accommodations, a seamless user experience, and exceptional service. Above all, we are committed to providing you with True Hospitality</div>
</div>

<!-- <div class="best-home-cards">
    <div class="best-home-card" *ngFor="let c of collections;">
        <img src="assets/icons/{{ c?.image }}.svg" alt=""/>
        <div class="title">{{ c?.title }}</div>
        <div class="description">{{ c?.description }}</div>
    </div>
</div> -->