<div class="wrapper">
    <div class="left">
        <div class="title">From the blog</div>
        <div class="sub-title">The latest industry news, interviews, technologies, and travel inspiration</div>
        <button type="button" class="orange-button ripple-button">View all posts</button>
    </div>

    <div class="right">
        <div class="right-content">
            <img src="assets/images/field.png" lazySrcVisible="visible" priority fetchpriority="high" loading="eager"
                alt="">
            <div class="text">
                <div class="title truncate2">The most wishlisted Amazing Views to fulfill summer wanderlust</div>
                <div class="sub-title truncate3">Whether guests want to bask in nature's embrace or absorb the sun's
                    rays by...</div>
            </div>
        </div>

        <div class="right-content">
            <img src="assets/images/building.png" lazySrcVisible="visible" priority fetchpriority="high" loading="eager"
                alt="">
            <div class="text">
                <div class="title truncate2">The economic opportunities of hosting</div>
                <div class="sub-title truncate3">More people are turning to hosting for the first time. From community
                    stories...</div>
            </div>
        </div>
    </div>
</div>