@import "../../../../assets/css/styles/account-page.scss";

.account-wrapper {
  .account-container {
    .cards {
      .flex-filter-form {
        display: flex;
        justify-content: space-between;
        align-items: top;
        flex-wrap: wrap;

        .left-filter-form {
          display: flex;
          justify-content: left;
          align-items: center;
          flex-wrap: wrap;

          .ripple-button {
            border: 1px solid var(--gray-300);
            background: var(--base-white);
            color: var(--gray-700);
            font-family: var(--mark-font);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
          }

          .month-active {
            background: var(--gray-50);
          }
        }

        .right-filter-form {
          display: flex;
          justify-content: left;
          align-items: center;
          grid-gap: 12px;
          flex-wrap: wrap;

          ::ng-deep .p-dropdown .p-dropdown-label {
            width: 200px;
            height: 46px;
          }

          .label22 {
            color: var(--white);
          }

          ::ng-deep .mdc-text-field--outlined {
            height: 48px;
          }

          .full-width {
            width: 245px;
          }
        }
      }

      .earnings-container {
        display: flex;
        justify-content: space-between;
        align-items: top;
        grid-gap: 32px;
        flex-wrap: wrap;
        margin-top: 24px;
        margin-bottom: 100px;

        .earnings-text {
          .total-text {
            color: var(--gray-600);
            font-family: var(--mark-font);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
          }

          .total {
            display: flex;
            justify-content: left;
            align-items: baseline;
            grid-gap: 1rem;
            margin-top: 8px;

            .money {
              color: var(--gray-900);
              font-family: var(--display-font);
              font-size: 36px;
              font-style: normal;
              font-weight: 600;
              line-height: 44px;
              letter-spacing: -0.72px;
            }

            .percentage {
              background: var(--success-50);
              padding: 2px 10px 2px 8px;
              color: var(--success-700);
              font-family: var(--mark-font);
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 20px;
            }
          }
        }
      }

      .cards-container2 {
        grid-template-columns: repeat(2, 1fr);
      }

      .cards-container4 {
        grid-template-columns: repeat(4, 1fr);
      }

      .cards-container4,
      .cards-container2 {
        display: grid;
        grid-gap: 24px;

        .cards-cards {
          padding: 24px;
          border: 1px solid var(--gray-200);
          background: var(--base-white);

          .title {
            color: var(--gray-900);
            font-family: var(--mark-font);
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
          }

          .total {
            color: var(--gray-900);
            font-family: var(--display-font);
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: -0.72px;
            margin-bottom: 1rem;
            margin-top: 24px;
          }

          .percentage {
            display: flex;
            justify-content: left;
            align-items: center;
            grid-gap: 8px;
            flex-wrap: wrap;
            color: var(--gray-600);
            font-family: var(--mark-font);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 142.857% */

            .green {
              color: var(--success-700);
            }

            .red {
              color: var(--error-700);
            }
          }
        }
      }

      //
      .bottom-container {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        display: flex;
        justify-content: space-between;
        grid-gap: 24px;
        align-items: top;
        margin-top: 24px;

        .left-container {
          width: 40%;
          height: 340px;
        }

        .right-container {
          width: 60%;
        }

        .left-container,
        .right-container {
          border: 1px solid var(--gray-200);

          .title-p {
            padding: 24px;
            border-bottom: 1px solid var(--gray-200);

            .title {
              color: var(--gray-900);
              font-family: var(--mark-font);
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 28px;
              margin-bottom: 4px;
            }

            .title-desc {
              color: var(--gray-600);
              font-family: var(--mark-font);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
            }
          }

          .form-form,
          .chart {
            padding: 24px;

            .form-field {
              .half-width {
                width: 200px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .account-wrapper {
    .account-container {
      .cards {
        .cards-container4 {
          grid-template-columns: repeat(2, 1fr);
        }

        .bottom-container {
          flex-direction: column;

          .left-container {
            width: 100%;
          }

          .right-container {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .account-wrapper {
    .account-container {
      .cards {
        .cards-container4,
        .cards-container2 {
          grid-template-columns: repeat(1, 1fr);
        }

        .flex-filter-form {
          flex-direction: column;

          .right-filter-form {
            margin-top: 12px;

            form {
              ::ng-deep .p-dropdown .p-dropdown-label {
                width: 100%;
              }

              ::ng-deep .mdc-text-field--outlined {
                width: 100%;
              }

              .full-width {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
