<div class="wrapper">
    <div class="title">Who we are</div>
    <div class="sub-title">About Vefristay</div>
    <div class="body">
        Vefristay is the trusted online platform that enables people to discover and experience the true spirit of
        hospitality through our curated selection of accommodations. We prioritize authentic cultural immersion, wealth
        creation for local communities, and unforgettable experiences that foster connections with people, traditions,
        and landscapes of Africa and the Middle East.
    </div>

    <div class="about-container">
        <div class="image">
            <div>We help people experience the true essence of hospitality through authentic and sustainable short-term
                rental experiences.</div>
        </div>
    </div>
</div>