<div class="relative h-screen overflow-hidden">
    <video autoplay muted loop playsinline class="absolute inset-0 w-full h-full object-cover">
        <source
            src="https://res.cloudinary.com/dvujxw2d0/video/upload/v1724945776/-bfad-4c3b-ab19-5559eb30689c_uxtmta.mp4"
            type="video/mp4" />
    </video>

    <header
        class="absolute top-12 left-3 right-3 md:left-40 md:right-40 rounded-2xl z-10 bg-white/30 backdrop-blur-lg shadow-md  p-2 sm:p-3 text-black">
        <div class="mx-auto flex justify-between items-center">
            <img src="assets/images/logo.png" alt="">

            <div class="flex items-center cursor-pointer">

                <div class="loader" *ngIf="isLogin && loading">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>

                <div class="flex items-center self-center !p-0 !mr-4" *ngIf="isLogin && !loading">
                    <!-- <p class="!text-xl !mr-2 !mb-0 font-bold">{{ userData?.first_name }}</p> -->
                    <a [routerLink]="['/account']">
                        <img class="rounded-full !w-14 !h-14 !bg-none border-0 " [defaultImage]="defaultImage"
                            [lazyLoad]="userData?.profile_picture" [decode]="true" [errorImage]="defaultImage"
                            [alt]="userData?.first_name" />
                    </a>
                </div>

                <img (click)="openDialog('', 'login2')" *ngIf="!isLogin" src="assets/icons/user-circle.svg" alt="">
                <p (click)="openDialog('', 'login2')" *ngIf="!isLogin" class="!mb-0 text-xl ml-4">Login/Signup</p>
            </div>

        </div>
    </header>

    <div class="relative z-20 flex flex-col items-center mt-64 h-full text-center text-white">
        <h2 class="!text-4xl md:!text-6xl !font-bold !mb-2 !font-['Wulkan_Display']">Discover The True Essence <br> of
            Hospitality</h2>
        <p class="text-2xl mb-8">Find your happy stay</p>
    </div>


    <div class="absolute bottom-16 left-1/2 transform -translate-x-1/2 z-30 w-full max-w-3xl">
        <div class="bg-white rounded-lg p-4">
            <button (click)="showSearchModal()"
                class="w-full px-4 flex items-center py-3 rounded-lg bg-gray-100 backdrop-blur-lg border-none focus:outline-none text-black placeholder-gray-500">
                <img class="mr-2" src="assets/icons/home-02.svg" alt="">
                Enter an address, neighborhood, city, or ZIP code
            </button>
        </div>

    </div>

    <div class="absolute inset-0 bg-black/30"></div>

    <div [ngClass]="{'translate-y-full': !isSearchModalVisible, 'translate-y-0': isSearchModalVisible}"
        class="fixed inset-x-0 bottom-0 h-1/2 transform transition-transform duration-300 z-50 bg-black/30 backdrop-blur-lg md:pl-36 p-6 overflow-y-auto shadow-lg">
        <!-- Search Bar -->
        <div class="mb-4 md:pr-36 flex items-center bg-white rounded-lg py-2 px-4">
            <input type="text" placeholder="Search..."
                class="w-full mx-auto px-4 py-3 rounded-lg bg-white backdrop-blur-lg border-none focus:outline-none text-black placeholder-gray-500" />
            <span class="pi pi-times" (click)="hideSearchModal()">

            </span>
        </div>

        <!-- List of Location Cards -->
        <div class="absolute bottom-0 left-0 right-0 p-6 overflow-x-hidden">
            <div class="flex space-x-4 overflow-x-auto" style="overflow-y: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;">
                <ng-container *ngFor="let country of countries; let i = index">
                    <div class="cursor-pointer backdrop-blur-lg w-72 h-72 text-center flex-shrink-0 p-4 flex flex-col justify-end items-start shadow-md bg-cover bg-center rounded-2xl overflow-clip"
                        style="background-image: url({{ country.url }});" [routerLink]="['/home-main']"
                        [style.pointer-events]="country.active ? 'initial' : 'none'">
                        <p *ngIf="!country.active"
                            class="!text-white !text-5xl font-black !text-nowrap !ml-[-20px] !mt-7">
                            Coming Soon
                        </p>
                        <div
                            class="bg-black/20 backdrop-blur-sm rounded-lg flex justify-start items-center py-4 w-full px-3">
                            <div class="flex items-center justify-start">
                                <img src="assets/icons/marker-pin-two.svg" alt="">
                                <h3 class="text-white !mb-0 !ml-2 !text-sm !font-extralight">{{ country.name }}</h3>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>

    </div>

</div>

<div class="grid md:grid-cols-2 gap-4 text-white px-2 lg:px-6 xl:px-32 pt-20 ">
    <div class="bg-[#221E1F] rounded-md col-span-1">
        <div class="p-8 ">
            <p class="!text-2xl !font-bold">Elevate your Hosting Game and <br> Maximize your earning potential</p>
            <p>We support businesses by promoting growth, and fostering cultural exchange.</p>
        </div>

        <div class="relative">
            <button [routerLink]="['/host-subscription']" pButton pRipple label="Submit"
                class="bg-primary px-4 py-2 border-0 !text-white absolute left-2 top-3">Host
                your
                home</button>
            <img class="h-full w-full" src="assets/images/hand-holding-key-real-estate-agent.png" alt="">
        </div>
    </div>
    <div class="col-span-1 text-black">
        <div class="grid rid-cols-2 sm:grid-cols-4 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div class="col-span-2 flex flex-col px-5 pt-5 pb-20 !border rounded-lg">
                <img class="self-end" src="assets/icons/wpf_invisible.svg" alt="">
                <h2 class="text-primary !text-3xl mt-3">01</h2>
                <p class="!text-2xl my-3 !font-extrabold">No hidden fees / commission</p>
                <p>Seamless and Transparent transactions</p>
            </div>
            <div class="col-span-2 flex flex-col px-5 pt-5 pb-20 !border rounded-lg">
                <img class="self-end" src="assets/icons/mingcute_fingerprint-line.svg" alt="">
                <h2 class="text-primary !text-3xl mt-3">02</h2>
                <p class="!text-2xl my-3  !font-extrabold">Verified guest</p>
                <p>Trustworthy and reliable users</p>
            </div>
            <div class="col-span-2 flex flex-col px-5 pt-5 pb-20 !border rounded-lg">
                <img class="self-end" src="assets/icons/hugeicons_money-receive-flow-01.svg" alt="">
                <h2 class="text-primary !text-3xl mt-3">03</h2>
                <p class="!text-2xl my-3 !font-extrabold">Easy/fast payout</p>
                <p>Cash anytime, anywhere</p>
            </div>
            <div class="col-span-2 flex flex-col px-5 pt-5 pb-20 !border rounded-lg">
                <img class="self-end" src="assets/icons/fluent_people-community-32-regular.svg" alt="">
                <h2 class="text-primary !text-3xl mt-3">04</h2>
                <p class="!text-2xl my-3  !font-extrabold">Increased  visibility</p>
                <p>Boost your presence online</p>
            </div>
        </div>
    </div>
</div>



<div class=" mx-auto items-center flex flex-col justify-between py-20">
    <h2 class="text-2xl font-bold mb-4 text-orange-500">Featured Properties</h2>
    <p class="text-gray-600 mb-6">Other projects by us in different locations</p>

    <div class="relative w-[250%] md:w-[150%] overflow-hidden">
        <div class="flex transition-transform duration-300 ease-in-out" #propertySlider>
            <ng-container *ngFor="let property of propertiesTwo; let i = index">
                <div class="w-1/3 flex-shrink-0"
                    [ngClass]="{'scale-90': (i - currentIndex + properties.length) % properties.length !== 1}">
                    <div class="bg-white rounded-xl overflow-hidden shadow-lg h-96 !bg-center !bg-cover !bg-no-repeat flex p-2"
                        [style.background]="'url(' + property.image + ')'">
                        <div
                            class="p-2 px-3 mt-auto flex justify-between bg-[#00000066] backdrop-blur-lg rounded-xl w-full text-white">
                            <div>
                                <h3 class="!text-xl !font-semibold !mb-2">{{ property.title }}</h3>
                                <div class="flex items-start">
                                    <div class="flex items-center mb-2">
                                        <svg class="w-4 h-4 text-white mr-1" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm0-2a6 6 0 100-12 6 6 0 000 12z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <span>{{ property.location }}</span>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <div class="flex items-center">
                                            <svg class="w-4 h-4 text-yellow-400 mr-1" fill="currentColor"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                </path>
                                            </svg>
                                            <span class="text-white">{{ property.rating }}</span>
                                        </div>
                                        <span class="text-white">₦{{ property.price | number }} / Night</span>
                                    </div>
                                </div>

                            </div>

                            <button [routerLink]="['/home-main']"
                                class=" self-center bg-orange-500 text-white px-4 py-3 border border-primary hover:bg-orange-600 transition cursor-pointer">Book
                                Now</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <button (click)="prevSlide()"
            class="absolute left-[30%] md:left-[18%] top-1/2 transform -translate-y-1/2 bg-white border-0 flex items-center justify-center p-2 rounded-full shadow-md z-10">
            <!-- Add left arrow icon -->
            <svg class="w-6 h-6 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
        </button>
        <button (click)="nextSlide()"
            class="absolute right-[30%] md:right-[18%] top-1/2 transform -translate-y-1/2 bg-white border-0 flex items-center justify-center p-2 rounded-full shadow-md z-10">
            <!-- Add right arrow icon -->
            <svg class="w-6 h-6 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</div>



<div class="sm:grid md:grid-cols-5 gap-4 text-white px-2 lg:px-6 xl:px-32 py-20 ">
    <div class="sm:col-span-5 md:col-span-2 flex justify-center w-full">
        <img class="h-full w-full" src="assets/images/72e64537e2793dd0fbeee5a667ec8730.png" alt="">
    </div>
    <div class="col-span-3 p-8 lg:p-20 text-black">
        <h2 class="!text-primary !mb-2">Why Choose Us</h2>
        <p class="!mb-4">Pristine Spaces and Secure Stays, every time.</p>
        <div class="flex space-x-4 mb-5">
            <div class="rounded-full bg-gray-100 p-4 self-start">
                <img class="!w-10" src="assets/icons/fluent_bed-16-regular.svg" alt="">
            </div>
            <div>
                <p class="!mb-2 !font-bold">Excellence</p>
                <p>At V-Hospitality, we strive for excellence in everything we do, providing exceptional service,
                    curated accommodations, and a seamless user experience. Above all, we are dedicated to the
                    commitment we make to our community.</p>
            </div>
        </div>
        <div class="flex space-x-4 mb-5">
            <div class="rounded-full bg-gray-100 p-4 self-start">
                <img class="!w-10" src="assets/icons/message2.svg" alt="">
            </div>
            <div>
                <p class="!mb-2 !font-bold">Transparency</p>
                <p>We believe in transparency and open communication. We are committed to providing clear, honest
                    information to our hosts, guests, and partners, ensuring trust and building long-lasting
                    relationships.</p>
            </div>
        </div>
        <div class="flex space-x-4 mb-5">
            <div class="rounded-full bg-gray-100 p-4 self-start">
                <img class="!w-10" src="assets/icons/thumb.svg" alt="">
            </div>
            <div>
                <p class="!mb-2 !font-bold">Sustainability</p>
                <p>We are committed to sustainable practices, promoting responsible travel, and minimizing our
                    environmental impact.</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="py-14 border-y flex justify-evenly text-black">
    <div class="text-center">
        <h4 class="!font-extrabold !text-5xl !mb-1">4M</h4>
        <p class="!mb-0">Award Winning</p>
    </div>
    <div class="text-center">
        <h4 class="!font-extrabold !text-5xl !mb-1">18k</h4>
        <p class="!mb-0">Property Ready</p>
    </div>
    <div class="text-center">
        <h4 class="!font-extrabold !text-5xl !mb-1">25M</h4>
        <p class="!mb-0">Happy Customer</p>
    </div>
</div> -->

<div class="px-2 lg:px-6 xl:px-32 py-20 ">
    <div class=" rounded-xl md:flex space-x-6 p-5 md:p-20 bg-[url(assets/images/bg.png)] bg-cover bg-center">
        <div class="basis-1/2">
            <img src="https://res.cloudinary.com/dvujxw2d0/image/upload/v1724945923/9f82f02b9c770acb7e91565009eb70ad_jz8n8c.png"
                alt="">
        </div>
        <div class="basis-1/2">
            <h1 class="text-primary !font-bold !text-2xl !mb-7">Trusted by the best
                exclusive agents</h1>


            <div class="mt-8">
                <div class="flex items-center mb-5">
                    <img src="assets/icons/list-item.svg" alt="">
                    <p class="!mb-0 !font-bold !ml-2 !text-lg">
                        Find excellent deals
                    </p>
                </div>
                <div class="flex items-center mb-5">
                    <img src="assets/icons/list-item.svg" alt="">
                    <p class="!mb-0 !font-bold !ml-2 !text-lg">
                        Friendly host & Fast support
                    </p>
                </div>
                <div class="flex items-center mb-5">
                    <img src="assets/icons/list-item.svg" alt="">
                    <p class="!mb-0 !font-bold !ml-2 !text-lg">
                        List your own property
                    </p>
                </div>
                <button [routerLink]="['/home-main']"
                    class="button bg-primary border-primary border px-5 py-2 mt-6 text-white">Book Now</button>
            </div>
        </div>
    </div>
</div>

<div class="px-2 lg:px-6 xl:px-32 py-20 ">
    <div class="flex justify-between mb-5">
        <div>
            <h2 class="!text-primary !mb-2 !font-bold">People Love Living with V Hospitality</h2>

        </div>
        <div></div>
    </div>

    <p-carousel [value]="testimonies" [showIndicators]=true [numVisible]="3" [numScroll]="1"
        [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
        <ng-template let-testimony pTemplate="item">
            <div class="border rounded-xl p-6 mr-3">
                <!-- <p class="!mb-3">{{ testimony.remark }}</p> -->
                <q>{{ testimony.testimony }}</q>
                <!-- <p>{{ testimony.rating }}</p> -->

                <div class="border-t mt-4 mb-2"></div>
                <div class="flex items-center">
                    <img class="rounded-full mr-3 h-14 w-14" src="{{ testimony.reviewer.image }}" alt="">
                    <div>
                        <p class="!font-bold !mb-2">{{ testimony.reviewer.name }}</p>
                        <p class="!m-0">{{ testimony.reviewer.position }}</p>
                    </div>
                </div>

            </div>
        </ng-template>
    </p-carousel>
</div>
<div
    class="bg-[#EF5E171A] pt-10  after:text-center after:text-[311px] after:text-nowrap after:font-extrabold after:text-#FCE0D3 after:overflow-hidden">
    <div class="md:flex items-center md:h-[512px] h-full">
        <div class="relative w-full h-full basis-1/2">
            <img class="absolute top-7 h-full right-52 bottom-0"
                src="https://s3-alpha-sig.figma.com/img/65aa/8d4a/2811042f34a2519e12520518eae66c11?Expires=1725235200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SGaFzay2ZDQiphGSq8~qweOpCQdC9OQ66pHfJguMCspqdwTkq-V1B3sw7lc6P280BQS6-xybIRLFjfdYM-EmoxPLwognYt~H44zFX17noTXq~R-j2EjpRWUrd-O1wIS3WWpfyev1awPiXjb0paDi52riWcFxr8Pbz3tzyvHRtlByMM-Rax1YDi7GhH5fmGNljyL8nV-~KrKqTz82AGTLdWzEkWCPnb5n0HvCsJw~joeu5xsmA3bqLtw5DY56o4qaw3zfWIP63J6ytNzwcnnX1t3XI8QG4D0hIwlv2768~rpvQl1iwM6YqQe0C7Fg1oiaBsnFa2st31R9~NFYo9GwtQ__"
                alt="">
            <img class="absolute h-2/3 bottom-0 right-0"
                src="https://s3-alpha-sig.figma.com/img/7f8e/ce0f/4a361d11eba82b0249327998b58aef82?Expires=1725235200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SO-Ya6cNcUb9ebtxlEpoIyq-UwJCW3T6KdSyRef6yzJXk6keyCQ1msD8qkkTVeV1moY9nlSxeeIDs06BZire2-dQMFk8ZSMN5WcWzlQLRKY2CnZuBGXddI60SJ24qHxB-DuYlHHzYWVUAOn0o0oJkxoXnczUUdQotZZ5Fv4aUels5s2HmgzcHXFUhnEPqCnFr82iiI~xjl9TwtPYBrjAdz3Qevp2QWriSAp4Uadn8RHw5y40uVdj0COp0Xzm5OtHAgMoEzPZkbFYsMx6rr9vh71ROt8fXSC8MB7SJk31Hx4r~Y8QOAZ-tC2ondHzQJSyYs~0fusfS~coytul52En1A__"
                alt="">
        </div>
        <div class="basis-1/2 p-20">
            <h2 class="!font-bold !mb-10">V Hospitality App</h2>

            <div class="lg:flex items-center lg:space-x-4">
                <div class="bg-[#221E1F] mb-5 lg:mb-0 rounded-lg px-6 py-2 items-center !text-white">
                    <div class="flex items-center space-x-4">
                        <img class="mr-3" src="assets/icons/apple.svg" alt="">
                        <div>
                            <p class="!mb-0 !font-extralight">Coming Soon</p>
                            <p class="!mb-0 !font-bold">Apple Store</p>
                        </div>
                    </div>
                </div>
                <div class="bg-[#221E1F] rounded-lg px-6 py-2 items-center !text-white">
                    <div class="flex items-center">
                        <img class="mr-3" src="assets/icons/android.svg" alt="">
                        <div>
                            <p class="!mb-0 !font-extralight">Coming Soon</p>
                            <p class="!mb-0 !font-bold">Google Play</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-[#221E1F] text-white py-10 flex flex-col items-center">
    <div class="text-center md:text-center">
        <h3 class="font-bold text-lg">Subscribe Our Newsletter</h3>
        <p class="mb-4">Stay connected with us by subscribing to our newsletter and become a part of <br> a warm and
            authentic community</p>
        <form class="flex flex-col sm:flex-row bg-white rounded-lg p-1">
            <input type="email" placeholder="Your email" class="w-full border-0 p-2 sm:p-0 text-black">
            <button class="bg-orange-500 text-white px-4 py-2 border-0 ">Subscribe</button>
        </form>
    </div>
    <div class="container mx-auto px-4 flex flex-col sm:flex-row justify-between mt-16">
        <div class="mb-6 md:mb-0">
            <img src="assets/images/logo.png" alt="Logo" class="h-20 mb-3">
            <p style="font-family: 'Wulkan Display' !important;" class="!font-['Wulkan_Display']">Discover the true
                essence of
                hospitality.</p>
        </div>
        <div class="flex flex-col space-y-2 mt-5 sm:mt-0">
            <h3 class="font-bold">Company</h3>
            <div [routerLink]="['/about']" class="hover:underline cursor-pointer">About us</div>
            <div [routerLink]="['/host-subscription/subscription']" class="hover:underline cursor-pointer">Subscriptions
            </div>
            <div (click)="redirectContact()" class="hover:underline cursor-pointer">Contact us</div>
        </div>
        <div class="flex flex-col space-y-2  mt-5 sm:mt-0">
            <h3 class="font-bold">Resources</h3>
            <div [routerLink]="['/faqs']" class="hover:underline cursor-pointer">Faqs</div>
        </div>
        <div class="flex flex-col space-y-2 mt-5 sm:mt-0">
            <h3 class="font-bold">Legal</h3>
            <div [routerLink]="['/terms']" class="hover:underline cursor-pointer">Terms</div>
            <div [routerLink]="['/privacy-policy']" class="hover:underline cursor-pointer">Privacy</div>
            <div [routerLink]="['/cookie-policy']" class="hover:underline cursor-pointer">Cookies</div>
        </div>
    </div>

    <div class="container mx-auto px-4 mt-10 border-t border-gray-700 pt-6 flex justify-between items-center">
        <p>© Powered by Greencity. All rights reserved.</p>
        <div class="flex space-x-4">
            <a href="#" aria-label="Facebook"><i class="pi pi-facebook cursor-pointer"
                    style="color: white; font-size: 1rem;"></i></a>
            <a href="#" aria-label="Facebook"><i class="pi pi-twitter cursor-pointer"
                    style="color: white; font-size: 1rem;"></i></a>
            <a href="#" aria-label="Facebook"><i class="pi pi-instagram cursor-pointer"
                    style="color: white; font-size: 1rem;"></i></a>
            <a href="#" aria-label="Facebook"><i class="pi pi-linkedin cursor-pointer"
                    style="color: white; font-size: 1rem;"></i></a>
        </div>
    </div>
</footer>