/* devanagari */
@font-face {
  font-family: "Wulkan Display";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/assets/css/font/display-font/Wulkan-Display-Light.otf")
    format("truetype");
}

/* devanagari */
@font-face {
  font-family: "Wulkan Display";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/assets/css/font/display-font/Wulkan-Display-Light.otf")
    format("truetype");
}

/* devanagari */
@font-face {
  font-family: "Wulkan Display";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/css/font/display-font/Wulkan-Display-Light.otf")
    format("truetype");
}
/* devanagari */
@font-face {
  font-family: "Wulkan Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/css/font/display-font/Wulkan-Display-Regular.otf")
    format("truetype");
}
/* devanagari */
@font-face {
  font-family: "Wulkan Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/css/font/display-font/Wulkan-Display-Medium.otf")
    format("truetype");
}

/* devanagari */
@font-face {
  font-family: "Wulkan Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/css/font/display-font/Wulkan-Display-SemiBold.otf")
    format("truetype");
}

/* devanagari */
@font-face {
  font-family: "Wulkan Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/css/font/display-font/Wulkan-Display-Bold.otf")
    format("truetype");
}

/* devanagari */
@font-face {
  font-family: "Wulkan Display";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/assets/css/font/display-font/Wulkan-Display-Bold.otf")
    format("truetype");
}

/* devanagari */
@font-face {
  font-family: "Wulkan Display";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/assets/css/font/display-font/Wulkan-Display-Bold.otf")
    format("truetype");
}
