<div class="wrapper">

    <p class="date">{{ data.data.type == "create" ? data.data.data:data?.data.data.data.blockedDate.date }}</p>

    <div class="drop-down">
        <ng-multiselect-dropdown [placeholder]="'Select property'" [settings]="dropdownSettings" [data]="dropdownList"
            [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onItemDeSelectAll($event)" (onDeSelect)="onItemDeSelect($event)">
        </ng-multiselect-dropdown>
    </div>


    <div class="submit-p">
        <button mat-button type="button" class="ripple-button orange-button" (click)="toggleVisibility()">
            <span *ngIf="!loading">Disable Data</span>
            <div *ngIf="loading" class="loader-white"></div>
        </button>
    </div>
</div>