.wrapper {
  margin-top: 64px;
  margin-bottom: 64px;

  .title {
    margin-bottom: 20px;
    color: var(--black-text);
    font-family: var(--display-font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
  }

  .host {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    grid-gap: 20px;
    flex-wrap: wrap;

    .text-container {
      display: flex;
      justify-content: left;
      align-items: center;
      grid-gap: 1rem;

      .profile {
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }

      .name-container {
        .name {
          color: var(--black-text);
          font-family: var(--mark-font);
          font-size: 1.1rem;
          font-style: normal;
          font-weight: 700;
          line-height: 28px;
          margin-bottom: 3px;
        }

        .email {
          color: var(--primary-700);
          font-family: var(--mark-font);
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }

        .phone {
          color: #475467;
          font-family: var(--mark-font);
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }

        .desc {
          color: #475467;
          font-family: var(--mark-font);
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }

    .ripple-button {
      border: 1px solid #d0d5dd;
      background: var(--white);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #344054;
      font-family: var(--mark-font);
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      height: 44px;

      img {
        margin-right: 8px;
      }
    }
  }
}
