<app-header></app-header>

<div class="wrapper">
    <div class="default" *ngIf="requestType === 'default'">
        <app-verify-email [data]="data"></app-verify-email>
    </div>
    <div class="default" *ngIf="requestType === 'otp-form'">
        <app-verify-email-form [data]="data"></app-verify-email-form>
    </div>
    <div class="default" *ngIf="requestType === 'success-error'">
        <app-verify-email-success-error [data]="data"></app-verify-email-success-error>
    </div>
    <div class="default" *ngIf="requestType === 'request-password'">
        <app-forgot-password-request-verification [data]="data"></app-forgot-password-request-verification>
    </div>
    <div class="default" *ngIf="requestType === 'set-new-password'">
        <app-forgot-password-set-new [data]="data"></app-forgot-password-set-new>
    </div>
</div>