.sidenav-container {
  min-height: 100vh;
  background: var(--white);
  overflow: hidden;

  .logo {
    width: 60px;
    height: 60px;
  }

  .back-button {
    margin-top: 30px;
    margin-bottom: 30px;
    color: red;
    background: red;
  }

  ::ng-deep .p-sidebar {
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--black);
    border: unset;
    // z-index: 3000 !important;
    padding: 20px;
  }

  ::ng-deep .p-icon.p-sidebar-close-icon {
    color: var(--white-text);
  }

  .wrapper {
    .main {
      padding: 20px;
    }
  }
}
