.wrapper {
  padding-top: 56px;
  padding-bottom: 56px;

  .faqs-container {
    margin: 0 auto;
    width: 768px;

    .faqs-card {
      margin-bottom: 96px;
      text-align: center;

      .custom-search {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 320px;
      }

      .support-text {
        color: var(--primary-700);
        font-family: var(--mark-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 12px;
      }

      .faq-text {
        color: var(--gray-900);
        font-family: var(--display-font);
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.72px;
        margin-bottom: 20px;
      }

      .faq-desc {
        color: var(--gray-600);
        font-family: var(--mark-font);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 968px) {
  .wrapper {
    .faqs-container {
      width: 100%;
    }
  }
}

@media (max-width: 420px) {
  .wrapper {
    .faqs-container {
      .faqs-card {
        .custom-search {
          width: 100%;
        }
      }
    }
  }
}
