.wrapper {
  padding-top: 48px;
  padding-bottom: 48px;

  .back {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 14px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: var(--gray-600);
        font-family: var(--mark-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        vertical-align: middle;
      }

      svg {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    align-items: top;
    grid-gap: 96px;
    margin-bottom: 64px;

    .card:nth-child(2) {
      width: 60%;
      img,
      svg {
        margin-bottom: 24px;
      }

      .title {
        color: var(--black-text);
        font-family: var(--display-font);
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: -0.96px;
        margin-bottom: 24px;
      }

      .desc {
        color: #475467;
        font-family: var(--mark-font);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 30px;
      }
    }

    .card:nth-child(1) {
      width: 40%;
      background: var(--white);
      box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
        0px 20px 24px -4px rgba(16, 24, 40, 0.08);
      border-radius: 4px;
      padding: 24px;

      .image {
        height: 176px;
        margin-bottom: 1rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .title {
        margin-bottom: 5px;
        color: var(--black-text);
        font-family: var(--mark-font);
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: -0.64px;
      }

      .sub-title {
        color: var(--primary-700);
        font-family: var(--mark-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }

      .date {
        margin-bottom: 20px;
        color: var(--black-text);
        font-family: var(--mark-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }

      .submit-p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
      }

      .submit {
        background: var(--orange-text);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .price {
        display: flex;
        justify-content: left;
        align-items: center;
        grid-gap: 8px;
        margin-bottom: 5px;

        span:nth-child(1) {
          color: var(--black-text);
          font-family: var(--mark-font);
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 30px;
        }

        span:nth-child(2) {
          color: #475467;
          font-family: var(--mark-font);
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
      }

      .other {
        margin-bottom: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-gap: 12px;

        div:nth-child(1) {
          color: var(--black-text);
          font-family: var(--mark-font);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
        }

        div:nth-child(2) {
          color: #475467;
          text-align: right;
          font-family: var(--mark-font);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  .wrapper {
    .cards {
      display: unset;
      margin-bottom: unset;

      .card:nth-child(2) {
        width: 100%;
        margin-top: 50px;
      }

      .card:nth-child(1) {
        width: 400px;
        margin-bottom: 50px;
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    .cards {
      .card:nth-child(1) {
        width: 100%;
      }
    }
  }
}
