<app-header></app-header>

<div class="account-wrapper container">
    <app-back-button></app-back-button>

    <div class="title">Account</div>
    <hr>

    <div class="account-container">
        <div class="buttons">
            <div>
                <button [class.active]="currentType === 'profile'" (click)="changeType('profile')" mat-button>Personal
                    info</button>
            </div>
            <div>
                <button [class.active]="currentType === 'payment'" (click)="changeType('payment')" mat-button>Payment
                    methods</button>
            </div>
            <div>
                <button [class.active]="currentType === 'notification'" (click)="changeType('notification')"
                    mat-button>Notifications</button>
            </div>
            <div *ngIf="!switchGuest">
                <button [class.active]="currentType === 'payout'" (click)="changeType('payout')"
                    mat-button>Payouts</button>
            </div>
        </div>

        <div class="cards">
            <div class="warnint-text" *ngIf="userData?.is_advanced_verified === 0">
                <div class="warning">
                    <div class="w-title">Complete your account verification</div>
                    <div class="w-desc">Complete your verification process by uploading a means of identification and be
                        able to list and book a property on vefristay.</div>
                </div>
                <div>
                    <button mat-button (click)="openDialog('dialog', '')">Click to Complete Account
                        Verification</button>
                </div>
            </div>

            <app-account-notification [userData]="userData"
                *ngIf="currentType === 'notification' "></app-account-notification>
            <app-account-profile [userData]="userData" *ngIf="currentType === 'profile'"></app-account-profile>
            <app-account-payment [userData]="userData" *ngIf="currentType === 'payment'"></app-account-payment>
            <app-account-payout [userData]="userData" *ngIf="currentType === 'payout'"></app-account-payout>
        </div>
    </div>
</div>

<app-footer></app-footer>