.wrapper {
  .email-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  .check-text {
    color: var(--black-text);
    text-align: center;
    font-family: var(--display-font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 15px;
  }

  .desc {
    color: #475467;
    font-family: var(--mark-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  .form {
    margin-top: 32px;

    .form-field {
      margin-bottom: 15px;
    }

    .full-width {
      width: 100%;
    }

    input[type="email"] {
      caret-color: var(--black);
      background: none;
    }

    .submit-p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
    }

    mat-icon {
      color: #475467;
    }

    .submit {
      background: var(--orange-text);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .loader-white {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 8px;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
        color: var(--gray-700);
        font-family: var(--mark-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 800;
        line-height: 20px;
      }
    }
  }
}
