<div class="wrapper">

    <div class="email-icon">
        <img src="assets/icons/forget-password-icon.svg" alt=""/>
    </div>

    <div class="check-text">Set new password</div>

    <div class="desc">Your new password must be different to previously used passwords.</div>

    <form class="form" novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-field">
            <div class="label">New password</div>
            <mat-form-field class="full-width" appearance="outline">
                <input formControlName="newPassword" matInput [type]="hide ? 'password' : 'tel'" required/>
                <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>{{ formErrors.newPassword }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-field">
            <div class="label">Confirm password</div>
            <mat-form-field class="full-width" appearance="outline">
                <input formControlName="confirmPassword" matInput [type]="hide2 ? 'password' : 'tel'" required/>
                <mat-icon mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide2 password'" [attr.aria-pressed]="hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>{{ formErrors.confirmPassword }}</mat-error>
            </mat-form-field>
        </div>

        <div class="submit-p">
            <button type="submit" class="submit ripple-button">
                <span *ngIf="!loading">Reset password</span>
                <div *ngIf="loading" class="loader-white"></div>
            </button>
        </div>
    </form>
</div>