.wrapper {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  position: relative;
  // height: 100vh;

  .details {
    border-right: 1px solid #eaecf0;
    padding: 32px;
    width: 70%;
    overflow-y: auto;

    .title-p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      grid-gap: 1.25rem;
      overflow-wrap: break-word;
      word-break: break-all;
      word-wrap: break-word;

      .title {
        color: var(--black-text);
        font-family: var(--display-font);
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
        width: 70%;
      }

      .ripple-button {
        background: var(--orange-text);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: unset;

        span {
          color: var(--white);
          font-family: var(--mark-font);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.25rem;
        }

        img {
          margin-right: 8px;
        }
      }
    }

    .sub-title {
      color: #475467;
      font-family: var(--mark-font);
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-top: 10px;
    }

    .form {
      .form1 {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        flex-wrap: wrap;
        grid-gap: 12px;

        .full-width {
          width: 100%;
        }
      }

      ::ng-deep .mat-mdc-text-field-wrapper {
        height: 46px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
      }

      // .date-p {
      //   display: flex;
      //   justify-content: left;
      //   align-items: center;
      //   grid-gap: 10px;

      //   .start {
      //     border: 2px solid #d0d5dd;
      //     width: 135px;
      //     height: 48px;
      //     padding: 10px;
      //     text-align: center;
      //     color: var(--black-text);
      //     font-family: var(--mark-font);
      //     font-size: 1rem;
      //     font-style: normal;
      //     font-weight: 500;
      //     line-height: 24px;
      //     line-height: normal;
      //   }
      // }

      // ::ng-deep .p-calendar-w-btn {
      //   width: 230px;
      //   height: 44px;
      // }

      // ::ng-deep .p-dropdown .p-dropdown-label {
      //   width: 200px;
      //   height: 44px;
      // }

      // ::ng-deep .filter .p-dropdown .p-dropdown-label {
      //   width: 139px;
      //   height: 44px;
      // }

      // ::ng-deep .price .p-dropdown .p-dropdown-label {
      //   width: 168px;
      //   height: 44px;
      // }

      // div:nth-child(1) {
      //   display: flex;
      //   justify-content: left;
      //   align-items: center;
      //   flex-wrap: wrap;
      //   grid-gap: 12px;
      // }

      .form2 {
        display: flex;
        justify-content: left;
        align-items: top;
        grid-gap: 12px;

        .dropdown2 {
          flex-grow: 1;

          .form-field {
            .full-width {
              width: 100%;
            }
          }
        }

        .action-button {
          display: flex;
          justify-content: left;
          align-items: top;
          grid-gap: 12px;

          .clear {
            border: 1px solid #d0d5dd;
            background: var(--white);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            color: var(--black);
            font-family: var(--mark-font);
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            // height: 56px;
          }

          .search {
            border: 1px solid var(--orange-text);
            background: var(--orange-text);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            color: var(--white);
            font-family: var(--mark-font);
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            // height: 56px;
          }
        }

        .form-custom {
          flex-grow: 2;

          .full-width {
            width: 100%;
          }
        }
      }
    }

    .form3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      grid-gap: 1.25rem;
      margin-bottom: 32px;

      .sort-p {
        display: flex;
        justify-content: left;
        align-items: center;

        .sort.sort-active {
          background: #f9fafb;
        }

        .sort {
          background: var(--white);
          border: 1px solid #d0d5dd;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          color: var(--black);
          font-family: var(--mark-font);
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
        }
      }

      .sort-icon {
        display: flex;
        justify-content: left;
        align-items: center;

        button.sort-icon {
          background: #f9fafb;
        }

        button {
          background: var(--white);
          border: 1px solid #d0d5dd;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

          img {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .cards-p {
      margin-bottom: 24px;
      margin-top: 32px;

      .cards {
        margin-bottom: 1rem;
        padding: 1rem;
        display: flex;
        justify-content: left;
        align-items: top;
        border: 1px solid #eaecf0;
        background: var(--white);

        .image2 {
          display: none;
        }

        .image {
          width: 200px;
          height: 160px;
          position: relative;

          .image-img {
            width: 200px;
            height: 160px;
            object-fit: cover;
          }

          .rare {
            margin: 8px;
            position: absolute;
            bottom: 0;
            padding: 2px 8px 2px 6px;
            background: #fcdfd1;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              color: var(--orange-text);
              text-align: center;
              font-family: var(--mark-font);
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 1.125rem;
              margin-left: 4px;
            }
          }
        }

        .card-detail-p {
          width: 100%;

          .card-details {
            margin-left: 1.25rem;
            // display: flex;
            // justify-content: space-between;
            // align-items: top;
            // flex-wrap: wrap;
            // grid-gap: 1.25rem;
            position: relative;

            .truncate {
              .desc-1 {
                color: var(--orange-text);
                font-family: var(--mark-font);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.25rem;
              }

              .desc-2 {
                color: var(--black-text);
                font-family: var(--mark-font);
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                margin-top: 2px;
                margin-bottom: 2px;
                text-transform: capitalize;
              }

              .review {
                display: flex;
                justify-content: left;
                align-items: center;
                grid-gap: 8px;

                .rating {
                  color: var(--black-text);
                  font-family: var(--mark-font);
                  font-size: 1rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                }

                .total-review {
                  color: #475467;
                  font-family: var(--mark-font);
                  font-size: 1rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                }
              }
            }

            .wishlist {
              width: 44px;
              height: 44px;
              border: 1px solid #fcdfd1;
              background: #fcdfd1;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 0;
              top: 0;
            }

            .wishlist:hover,
            .wishlist.active {
              svg path {
                fill: var(--orange-text);
              }
            }
          }

          .card-items {
            margin-top: 1rem;
            margin-left: 1.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-gap: 1.25rem;
            flex-wrap: wrap;

            .itemss2 {
              display: flex;
              justify-content: left;
              align-items: center;
              flex-wrap: wrap;
              grid-gap: 15px;
            }

            .itemss {
              .amenities {
                display: flex;
                justify-content: left;
                align-items: center;
                flex-wrap: wrap;
                grid-gap: 8px;
                margin-top: 5px;

                span {
                  display: flex;
                  justify-content: left;
                  align-items: center;
                  font-size: 1rem;

                  i {
                    margin-right: 3px;
                    font-size: 1rem;
                  }
                }
              }

              .address {
                display: flex;
                justify-content: left;
                align-items: center;
              }

              .address,
              .amenities {
                img {
                  width: 1.25rem;
                  height: 1.25rem;
                  margin-right: 8px;
                }

                span {
                  color: #475467;
                  font-family: var(--mark-font);
                  font-size: 1rem;
                  font-style: normal;
                  font-weight: 500;
                }
              }
            }

            .price {
              display: flex;
              justify-content: left;
              align-items: center;
              grid-gap: 8px;

              span:nth-child(1) {
                color: var(--black-text);
                font-family: var(--mark-font);
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
              }

              span:nth-child(2) {
                color: #475467;
                font-family: var(--mark-font);
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }

    .paginator {
      margin-top: 50px;
    }
  }

  .map-mobile {
    display: none !important;
  }

  .map {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column-reverse;

    .details {
      width: 100%;
      padding: unset;
      border-right: unset;
    }

    .map-p {
      padding-bottom: 32px;
    }

    .map {
      display: none !important;
    }

    .map-mobile {
      display: unset !important;
      margin-top: 40px;
      padding: unset;
      width: 100%;
      margin-top: -1.25rem;
    }
  }
}

@media (max-width: 785px) {
  .wrapper {
    .details {
      .title-p {
        .title {
          width: 100%;
        }
      }

      .cards-p {
        .cards {
          .image2 {
            display: unset;
          }

          .image3 {
            display: none;
          }
        }
      }

      .form {
        .form1 {
          grid-template-columns: repeat(1, 1fr);
          // ::ng-deep .p-calendar-w-btn {
          //   width: 276px;
          // }

          // ::ng-deep .p-dropdown .p-dropdown-label {
          //   width: 230px;
          // }

          // ::ng-deep .filter .p-dropdown .p-dropdown-label {
          //   width: 230px;
          // }

          // ::ng-deep .price .p-dropdown .p-dropdown-label {
          //   width: 230px;
          // }
        }

        .form2 {
          display: unset;

          .action-button {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .clear {
              width: 100%;
            }

            .search {
              width: 100%;
            }
          }
        }
      }

      .form3 {
        margin-top: 24px;
      }
    }
  }
}

@media (max-width: 650px) {
  .wrapper {
    .details {
      .cards-p {
        .cards {
          //   display: unset;
          flex-direction: column;

          .image {
            width: 100%;
            height: 230px;

            .image-img {
              width: 100%;
              height: 100%;
            }
          }

          .card-detail-p {
            margin-top: 1.25rem;

            .card-details {
              margin-left: unset;
            }

            .card-items {
              margin-left: unset;
            }
          }
        }
      }
    }
  }
}
