@import "../../../../../assets/css/styles/accommodation-details-form.scss";

.select {
  .select-p {
    display: flex;
    justify-content: left;
    align-items: center;
    grid-gap: 10px;
    padding: 10px;
    border: 1px solid var(--gray-200);
    background: var(--base-white);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    .select2 {
      color: var(--gray-900);
      font-family: var(--mark-font);
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
