<div class="wrapper">
    <form class="form" novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-field">
            <div class="label">First Name*</div>
            <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="firstName" type="text">
                <mat-error>{{formErrors.firstName}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-field">
            <div class="label">Last Name*</div>
            <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="lastName" type="text">
                <mat-error>{{formErrors.lastName}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-field">
            <div class="label">Email address*</div>
            <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="email" type="email">
                <mat-error>{{formErrors.email}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-field">
            <div class="label">Phone Number*</div>
            <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="phone" type="text">
                <mat-error>{{formErrors.phone}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-field">
            <div class="label">Website / Social handle</div>
            <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="website" type="text">
                <mat-error>{{formErrors.website}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-field">
            <div class="label">Address*</div>
            <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="address" type="text">
                <mat-error>{{formErrors.address}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-field">
            <div class="label">Marketing Experience*</div>
            <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="experience" type="text">
                <mat-error>{{formErrors.experience}}</mat-error>
            </mat-form-field>
        </div>

        <div class="submit-p">
            <button type="submit" class="submit ripple-button">
                <span *ngIf="!loading">Sign Up</span>
                <div *ngIf="loading" class="loader-white"></div>
            </button>
        </div>
    </form>
</div>