.wrapper {
  padding-top: 56px;
  padding-bottom: 56px;

  .header {
    margin-bottom: 3rem;

    .text {
      color: var(--black-text);
      font-family: var(--display-font);
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -0.72px;
    }
  }
}
