.wrapper {
  // height: 100vh;
  overflow-y: auto;

  .image {
    width: 100%;
    height: 292px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .details {
    padding: 30px 24px;

    .title {
      color: var(--black-text);
      font-family: var(--display-font);
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
    }

    .profile {
      display: flex;
      justify-content: left;
      align-items: center;
      grid-gap: 12px;
      margin-top: 24px;
      margin-bottom: 24px;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }

      .name {
        div:nth-child(1) {
          color: #475467;
          font-family: var(--mark-font);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }

        div:nth-child(2) {
          color: #344054;
          font-family: var(--mark-font);
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
        }
      }
    }

    .date-p {
      display: flex;
      justify-content: left;
      align-items: center;
      grid-gap: 24px;
      margin-bottom: 24px;

      .date {
        width: 100%;

        div {
          color: #344054;
          font-family: var(--mark-font);
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          margin-bottom: 8px;
        }

        button {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          grid-gap: 8px;
          border: 1px solid#d0d5dd;
          background: #f9fafb;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

          span {
            color: #667085;
            font-family: var(--mark-font);
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
    }

    .bedroom-p {
      display: flex;
      justify-content: left;
      align-items: center;
      grid-gap: 24px;
      margin-bottom: 24px;

      .bedroom {
        .bedroom-title {
          color: #475467;
          font-family: var(--mark-font);
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
        }
      }
    }

    .description {
      color: #475467;
      font-family: var(--mark-font);
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 24px;
    }

    .view-detail-p {
      button {
        border: 1px solid#d0d5dd;
        background: var(--white);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        color: #344054;
        font-family: var(--mark-font);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 24px;
      }
    }
  }
}
