<div class="title-container">
  <div class="title">What kind of bathrooms are available to guests?</div>
</div>

<div class="error-message" *ngIf="error">{{ error }}</div>

<div class="increment-wrapper">

    <div class="card" *ngFor="let value of selectOption;">
        <div class="text">
            <div class="title">{{ value?.name }}</div>
            <div class="sub-title">{{ value?.sub_title }}</div>
        </div>
        <div class="icons">
            <!-- <button mat-icon-button (click)="addOrMinus('minus', value?.id)">
              <img src="assets/icons/decre-button.svg" alt=""/>
            </button>
      
            <div>{{ value?.total }}</div>
      
            <button mat-icon-button (click)="addOrMinus('add', value?.id)">
              <img src="assets/icons/incre-button.svg" alt=""/>
            </button> -->
            <mat-slide-toggle
                    [(ngModel)]="value.total">
            </mat-slide-toggle>
        </div>
    </div>

    <div class="loader22" *ngIf="loading">
      <mat-spinner></mat-spinner>
      <!-- <div class="loader-orange" *ngIf="loading"></div> -->
    </div>

</div>